<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jlkj.human.pa.mapper.DeptTypeDetailMapper">

    <resultMap id="BaseResultMap" type="com.jlkj.human.pa.domain.DeptTypeDetail">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="deptTypeId" column="dept_type_id" jdbcType="VARCHAR"/>
            <result property="compId" column="comp_id" jdbcType="VARCHAR"/>
            <result property="srlNo" column="srl_no" jdbcType="VARCHAR"/>
            <result property="item" column="item" jdbcType="VARCHAR"/>
            <result property="dataDept" column="data_dept" jdbcType="VARCHAR"/>
            <result property="weight" column="weight" jdbcType="DECIMAL"/>
            <result property="creator" column="creator" jdbcType="VARCHAR"/>
            <result property="creatorId" column="creator_id" jdbcType="VARCHAR"/>
            <result property="createDate" column="create_date" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,dept_type_id,comp_id,
        srl_no,item,data_dept,
        weight,creator,creator_id,
        create_date
    </sql>
</mapper>
