<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jlkj.finance.gp.mapper.FinanceGpAddMapper">
    
    <resultMap type="com.jlkj.finance.gp.domain.FinanceGpAdd" id="FinanceGpAddResult">
        <result property="applyId"    column="apply_id"    />
        <result property="compId"    column="comp_id"    />
        <result property="manufacturerName"    column="manufacturer_name"    />
        <result property="owner"    column="owner"    />
        <result property="contact"    column="contact"    />
        <result property="tel"    column="tel"    />
        <result property="fax"    column="fax"    />
        <result property="auditor"    column="auditor"    />
        <result property="status"    column="status"    />
        <result property="billAddress"    column="bill_address"    />
        <result property="billPtcode"    column="bill_ptcode"    />
        <result property="sendAddress"    column="send_address"    />
        <result property="email"    column="email"    />
        <result property="sendPtcode"    column="send_ptcode"    />
        <result property="purchaseType"    column="purchase_type"    />
        <result property="remarkAdd"    column="remark_add"    />
        <result property="updateDate"    column="update_date"    />
        <result property="updateUser"    column="update_user"    />
        <result property="createUser"    column="create_user"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateUserName"    column="update_user_name"    />
        <result property="createUserName"    column="create_user_name"    />
    </resultMap>

    <sql id="selectFinanceGpAddVo">
        select apply_id, comp_id, manufacturer_name,
owner, contact, tel, fax, auditor, remark_add,status, bill_address, bill_ptcode, send_address, email, send_ptcode, purchase_type, update_date, update_user, create_user, create_time, update_time, update_user_name, create_user_name from finance_gp_add
    </sql>

    <select id="selectFinanceGpAddList" parameterType="com.jlkj.finance.gp.domain.FinanceGpAdd" resultMap="FinanceGpAddResult">
        <include refid="selectFinanceGpAddVo"/>
        <where>  
            <if test="applyId != null  and applyId != ''"> and apply_id = #{applyId}</if>
            <if test="manufacturerName != null  and manufacturerName != ''"> and manufacturer_name = #{manufacturerName}</if>
            <if test="owner != null  and owner != ''"> and owner = #{owner}</if>
            <if test="startDate != '' and endDate != ''"> and create_time between #{startDate} and #{endDate}</if>
        </where>
    </select>
    
    <select id="selectFinanceGpAddByApplyId" parameterType="String" resultMap="FinanceGpAddResult">
        <include refid="selectFinanceGpAddVo"/>
        where apply_id = #{applyId}
    </select>
    <select id="selectFinanceGpAddDateList" resultType="com.jlkj.finance.gp.domain.FinanceGpAdd">
        <include refid="selectFinanceGpAddVo"/>
        <where>
            <if test="applyId != null  and applyId != ''"> and apply_id  like concat('%',#{applyId},'%') </if>
        </where>
    </select>

    <insert id="insertFinanceGpAdd" parameterType="com.jlkj.finance.gp.domain.FinanceGpAdd">
        insert into finance_gp_add
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="applyId != null">apply_id,</if>
            <if test="compId != null">comp_id,</if>
            <if test="manufacturerName != null">manufacturer_name,</if>
            <if test="owner != null">owner,</if>
            <if test="contact != null">contact,</if>
            <if test="tel != null">tel,</if>
            <if test="fax != null">fax,</if>
            <if test="auditor != null">auditor,</if>
            <if test="status != null">status,</if>
            <if test="billAddress != null">bill_address,</if>
            <if test="billPtcode != null">bill_ptcode,</if>
            <if test="sendAddress != null">send_address,</if>
            <if test="email != null">email,</if>
            <if test="sendPtcode != null">send_ptcode,</if>
            <if test="purchaseType != null">purchase_type,</if>
            <if test="remarkAdd != null">remark_add,</if>
            <if test="updateDate != null">update_date,</if>
            <if test="updateUser != null">update_user,</if>
            <if test="createUser != null">create_user,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateUserName != null">update_user_name,</if>
            <if test="createUserName != null">create_user_name,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="applyId != null">#{applyId},</if>
            <if test="compId != null">#{compId},</if>
            <if test="manufacturerName != null">#{manufacturerName},</if>
            <if test="owner != null">#{owner},</if>
            <if test="contact != null">#{contact},</if>
            <if test="tel != null">#{tel},</if>
            <if test="fax != null">#{fax},</if>
            <if test="auditor != null">#{auditor},</if>
            <if test="status != null">#{status},</if>
            <if test="billAddress != null">#{billAddress},</if>
            <if test="billPtcode != null">#{billPtcode},</if>
            <if test="sendAddress != null">#{sendAddress},</if>
            <if test="email != null">#{email},</if>
            <if test="sendPtcode != null">#{sendPtcode},</if>
            <if test="purchaseType != null">#{purchaseType},</if>
            <if test="remarkAdd != null">#{remarkAdd},</if>
            <if test="updateDate != null">#{updateDate},</if>
            <if test="updateUser != null">#{updateUser},</if>
            <if test="createUser != null">#{createUser},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateUserName != null">#{updateUserName},</if>
            <if test="createUserName != null">#{createUserName},</if>
         </trim>
    </insert>

    <update id="updateFinanceGpAdd" parameterType="com.jlkj.finance.gp.domain.FinanceGpAdd">
        update finance_gp_add
        <trim prefix="SET" suffixOverrides=",">
            <if test="compId != null">comp_id = #{compId},</if>
            <if test="manufacturerName != null">manufacturer_name = #{manufacturerName},</if>
            <if test="owner != null">owner = #{owner},</if>
            <if test="contact != null">contact = #{contact},</if>
            <if test="tel != null">tel = #{tel},</if>
            <if test="fax != null">fax = #{fax},</if>
            <if test="auditor != null">auditor = #{auditor},</if>
            <if test="status != null">status = #{status},</if>
            <if test="billAddress != null">bill_address = #{billAddress},</if>
            <if test="billPtcode != null">bill_ptcode = #{billPtcode},</if>
            <if test="sendAddress != null">send_address = #{sendAddress},</if>
            <if test="email != null">email = #{email},</if>
            <if test="remarkAdd != null">remark_add = #{remarkAdd},</if>
            <if test="sendPtcode != null">send_ptcode = #{sendPtcode},</if>
            <if test="purchaseType != null">purchase_type = #{purchaseType},</if>
            <if test="updateDate != null">update_date = #{updateDate},</if>
            <if test="updateUser != null">update_user = #{updateUser},</if>
            <if test="createUser != null">create_user = #{createUser},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateUserName != null">update_user_name = #{updateUserName},</if>
            <if test="createUserName != null">create_user_name = #{createUserName},</if>
        </trim>
        where apply_id = #{applyId}
    </update>

    <delete id="deleteFinanceGpAddByApplyId" parameterType="String">
        delete from finance_gp_add where apply_id = #{applyId}
    </delete>

    <delete id="deleteFinanceGpAddByApplyIds" parameterType="String">
        delete from finance_gp_add where apply_id in 
        <foreach item="applyId" collection="array" open="(" separator="," close=")">
            #{applyId}
        </foreach>
    </delete>
</mapper>