<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jlkj.finance.aa.mapper.FinanceAaDictTypeMapper">
    
    <resultMap type="com.jlkj.finance.aa.domain.FinanceAaDictType" id="FinanceAaDictTypeResult">
        <result property="dictId"    column="dict_id"    />
        <result property="dictName"    column="dict_name"    />
        <result property="dictType"    column="dict_type"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="field1"    column="field1"    />
        <result property="field2"    column="field2"    />
        <result property="field3"    column="field3"    />
        <result property="field4"    column="field4"    />
        <result property="field5"    column="field5"    />
    </resultMap>

    <sql id="selectFinanceAaDictTypeVo">
        select dict_id, dict_name, dict_type, status, create_by, create_time, update_by, update_time, remark, field1, field2, field3, field4, field5 from finance_aa_dict_type
    </sql>

    <select id="selectFinanceAaDictTypeList" parameterType="com.jlkj.finance.aa.domain.FinanceAaDictType" resultMap="FinanceAaDictTypeResult">
        <include refid="selectFinanceAaDictTypeVo"/>
        <where>  
            <if test="dictName != null  and dictName != ''"> and dict_name like concat('%', #{dictName}, '%')</if>
            <if test="dictType != null  and dictType != ''"> and dict_type = #{dictType}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="field1 != null  and field1 != ''"> and field1 = #{field1}</if>
            <if test="field2 != null  and field2 != ''"> and field2 = #{field2}</if>
            <if test="field3 != null  and field3 != ''"> and field3 = #{field3}</if>
            <if test="field4 != null "> and field4 = #{field4}</if>
            <if test="field5 != null "> and field5 = #{field5}</if>
        </where>
    </select>
    
    <select id="selectFinanceAaDictTypeByDictId" parameterType="Long" resultMap="FinanceAaDictTypeResult">
        <include refid="selectFinanceAaDictTypeVo"/>
        where dict_id = #{dictId}
    </select>
        
    <insert id="insertFinanceAaDictType" parameterType="com.jlkj.finance.aa.domain.FinanceAaDictType" useGeneratedKeys="true" keyProperty="dictId">
        insert into finance_aa_dict_type
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="dictName != null">dict_name,</if>
            <if test="dictType != null">dict_type,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
            <if test="field1 != null">field1,</if>
            <if test="field2 != null">field2,</if>
            <if test="field3 != null">field3,</if>
            <if test="field4 != null">field4,</if>
            <if test="field5 != null">field5,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="dictName != null">#{dictName},</if>
            <if test="dictType != null">#{dictType},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="field1 != null">#{field1},</if>
            <if test="field2 != null">#{field2},</if>
            <if test="field3 != null">#{field3},</if>
            <if test="field4 != null">#{field4},</if>
            <if test="field5 != null">#{field5},</if>
         </trim>
    </insert>

    <update id="updateFinanceAaDictType" parameterType="com.jlkj.finance.aa.domain.FinanceAaDictType">
        update finance_aa_dict_type
        <trim prefix="SET" suffixOverrides=",">
            <if test="dictName != null">dict_name = #{dictName},</if>
            <if test="dictType != null">dict_type = #{dictType},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="field1 != null">field1 = #{field1},</if>
            <if test="field2 != null">field2 = #{field2},</if>
            <if test="field3 != null">field3 = #{field3},</if>
            <if test="field4 != null">field4 = #{field4},</if>
            <if test="field5 != null">field5 = #{field5},</if>
        </trim>
        where dict_id = #{dictId}
    </update>

    <delete id="deleteFinanceAaDictTypeByDictId" parameterType="Long">
        delete from finance_aa_dict_type where dict_id = #{dictId}
    </delete>

    <delete id="deleteFinanceAaDictTypeByDictIds" parameterType="String">
        delete from finance_aa_dict_type where dict_id in 
        <foreach item="dictId" collection="array" open="(" separator="," close=")">
            #{dictId}
        </foreach>
    </delete>
</mapper>