<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jlkj.finance.AC.mapper.FinanceCostCostcenterMapper">

    <resultMap id="BaseResultMap" type="com.jlkj.finance.AC.domain.FinanceCostCostcenter">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="compId" column="comp_id" jdbcType="VARCHAR"/>
            <result property="fiscalYear" column="fiscal_year" jdbcType="VARCHAR"/>
            <result property="costCenter" column="cost_center" jdbcType="VARCHAR"/>
            <result property="costCenterDesc" column="cost_center_desc" jdbcType="VARCHAR"/>
            <result property="allocCode" column="alloc_code" jdbcType="VARCHAR"/>
            <result property="ccType" column="cc_type" jdbcType="VARCHAR"/>
            <result property="isProduct" column="is_product" jdbcType="VARCHAR"/>
            <result property="stusCode" column="stus_code" jdbcType="VARCHAR"/>
            <result property="createUser" column="create_user" jdbcType="VARCHAR"/>
            <result property="createDate" column="create_date" jdbcType="TIMESTAMP"/>
            <result property="updateUser" column="update_user" jdbcType="VARCHAR"/>
            <result property="updateDate" column="update_date" jdbcType="TIMESTAMP"/>
            <result property="isPostAc" column="is_post_ac" jdbcType="VARCHAR"/>
            <result property="updateUserName" column="update_user_name" jdbcType="VARCHAR"/>
            <result property="createUserName" column="create_user_name" jdbcType="VARCHAR"/>
            <result property="delFlag" column="del_flag" jdbcType="SMALLINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,comp_id,fiscal_year,
        cost_center,cost_center_desc,alloc_code,
        cc_type,is_product,stus_code,
        create_user,create_date,update_user,
        update_date,is_post_ac,update_user_name,
        create_user_name,del_flag
    </sql>
</mapper>
