<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jlkj.energy.ee.mapper.EnergyMillOfCostMapper">

    <resultMap id="BaseResultMap" type="com.jlkj.energy.ee.domain.EnergyMillOfCost">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="compId" column="comp_id" jdbcType="VARCHAR"/>
            <result property="millIdCode" column="mill_id_code" jdbcType="VARCHAR"/>
            <result property="millIdName" column="mill_id_name" jdbcType="VARCHAR"/>
            <result property="costCenter" column="cost_center" jdbcType="VARCHAR"/>
            <result property="createBy" column="create_user" jdbcType="VARCHAR"/>
            <result property="updateBy" column="update_user" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,comp_id,mill_id_code,
        mill_id_name,cost_center,
        create_by,update_by,create_time,
        update_time
    </sql>
</mapper>
