<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jlkj.finance.aa.mapper.FinanceCalcodeMapper">
    
    <resultMap type="com.jlkj.finance.aa.domain.FinanceCalcode" id="FinanceCalcodeResult">
        <result property="id"    column="id"    />
        <result property="companyId"    column="company_id"    />
        <result property="calTypeId"    column="cal_type_id"    />
        <result property="calTypeCode"    column="cal_type_code"    />
        <result property="calCode"    column="cal_code"    />
        <result property="calName"    column="cal_name"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createName"    column="create_name"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateName"    column="update_name"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectFinanceCalcodeVo">
        select id, company_id, cal_type_id, cal_type_code, cal_code, cal_name, status, create_by, create_name, create_time, update_by, update_name, update_time from finance_aa_calcode
    </sql>

    <select id="selectFinanceCalcodeList" parameterType="com.jlkj.finance.aa.domain.FinanceCalcode" resultMap="FinanceCalcodeResult">
        <include refid="selectFinanceCalcodeVo"/>
        <where>  
            <if test="companyId != null  and companyId != ''"> and company_id = #{companyId}</if>
            <if test="calTypeCode != null  and calTypeCode != ''"> and cal_type_code = #{calTypeCode}</if>
        </where>
    </select>
    
    <select id="selectFinanceCalcodeById" parameterType="String" resultMap="FinanceCalcodeResult">
        <include refid="selectFinanceCalcodeVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertFinanceCalcode" parameterType="com.jlkj.finance.aa.domain.FinanceCalcode">
        insert into finance_aa_calcode
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="companyId != null">company_id,</if>
            <if test="calTypeId != null">cal_type_id,</if>
            <if test="calTypeCode != null">cal_type_code,</if>
            <if test="calCode != null">cal_code,</if>
            <if test="calName != null">cal_name,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createName != null">create_name,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateName != null">update_name,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="companyId != null">#{companyId},</if>
            <if test="calTypeId != null">#{calTypeId},</if>
            <if test="calTypeCode != null">#{calTypeCode},</if>
            <if test="calCode != null">#{calCode},</if>
            <if test="calName != null">#{calName},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createName != null">#{createName},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateName != null">#{updateName},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateFinanceCalcode" parameterType="com.jlkj.finance.aa.domain.FinanceCalcode">
        update finance_aa_calcode
        <trim prefix="SET" suffixOverrides=",">
            <if test="companyId != null">company_id = #{companyId},</if>
            <if test="calTypeId != null">cal_type_id = #{calTypeId},</if>
            <if test="calTypeCode != null">cal_type_code = #{calTypeCode},</if>
            <if test="calCode != null">cal_code = #{calCode},</if>
            <if test="calName != null">cal_name = #{calName},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createName != null">create_name = #{createName},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateName != null">update_name = #{updateName},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteFinanceCalcodeById" parameterType="String">
        delete from finance_aa_calcode where id = #{id}
    </delete>

    <delete id="deleteFinanceCalcodeByIds" parameterType="String">
        delete from finance_aa_calcode where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>