<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jlkj.finance.aa.mapper.FinanceAaCarryRulesCorpMapper">
    
    <resultMap type="com.jlkj.finance.aa.domain.FinanceAaCarryRulesCorp" id="FinanceAaCarryRulesCorpResult">
        <result property="id"    column="id"    />
        <result property="companyId"    column="company_id"    />
        <result property="rulesId"    column="rules_id"    />
        <result property="rulesNo"    column="rules_no"    />
        <result property="accountIdOut"    column="account_id_out"    />
        <result property="accountCodeOut"    column="account_code_out"    />
        <result property="carryType"    column="carry_type"    />
        <result property="accountIdIn"    column="account_id_in"    />
        <result property="accountCodeIn"    column="account_code_in"    />
        <result property="drcr"    column="drcr"    />
        <result property="remark"    column="remark"    />
        <result property="createBy"    column="create_by"    />
        <result property="createName"    column="create_name"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateName"    column="update_name"    />
        <result property="updateTime"    column="update_time"    />
        <result property="acctNameOut"    column="acct_name_out"    />
        <result property="acctNameIn"    column="acct_name_in"    />
    </resultMap>

    <sql id="selectFinanceAaCarryRulesCorpVo">
        select id, t1.company_id,rules_id, rules_no, account_id_out, account_code_out, carry_type, account_id_in, account_code_in, drcr, remark, t1.create_by, t1.create_name, t1.create_time, t1.update_by, t1.update_name, t1.update_time, tout.group_acct_name acct_name_out,tin.group_acct_name acct_name_in from finance_aa_company_carry_rules t1
        left join finance_aa_group_acctcode tout on t1.account_id_out= tout.group_acct_id
        left join finance_aa_group_acctcode tin on t1.account_id_in= tin.group_acct_id
    </sql>

    <select id="selectFinanceAaCarryRulesCorpList" parameterType="com.jlkj.finance.aa.domain.FinanceAaCarryRulesCorp" resultMap="FinanceAaCarryRulesCorpResult">
        <include refid="selectFinanceAaCarryRulesCorpVo"/>
        <where>  
            <if test="rulesNo != null  and rulesNo != ''"> and rules_no = #{rulesNo}</if>
        </where>
    </select>
    
    <select id="selectFinanceAaCarryRulesCorpById" parameterType="String" resultMap="FinanceAaCarryRulesCorpResult">
        <include refid="selectFinanceAaCarryRulesCorpVo"/>
        where id = #{id}
    </select>
    <select id="selectFinanceAaCarryRulesExecuteList"
            resultType="com.jlkj.finance.aa.domain.FinanceAaCarryRules">
        <where>
            <if test="rulesNo != null  and rulesNo != ''"> and rules_no = #{rulesNo}</if>
            <if test="companyId != null  and companyId != ''"> and company_id = #{companyId}</if>
        </where>
    </select>

    <insert id="insertFinanceAaCarryRulesCorp" parameterType="com.jlkj.finance.aa.domain.FinanceAaCarryRulesCorp">
        insert into finance_aa_company_carry_rules
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="companyId != null">company_id,</if>
            <if test="rulesId != null">rules_id,</if>
            <if test="rulesNo != null">rules_no,</if>
            <if test="accountIdOut != null">account_id_out,</if>
            <if test="accountCodeOut != null">account_code_out,</if>
            <if test="carryType != null">carry_type,</if>
            <if test="accountIdIn != null">account_id_in,</if>
            <if test="accountCodeIn != null">account_code_in,</if>
            <if test="drcr != null">drcr,</if>
            <if test="remark != null">remark,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createName != null">create_name,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateName != null">update_name,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="companyId != null">#{companyId},</if>
            <if test="rulesId != null">#{rulesId},</if>
            <if test="rulesNo != null">#{rulesNo},</if>
            <if test="accountIdOut != null">#{accountIdOut},</if>
            <if test="accountCodeOut != null">#{accountCodeOut},</if>
            <if test="carryType != null">#{carryType},</if>
            <if test="accountIdIn != null">#{accountIdIn},</if>
            <if test="accountCodeIn != null">#{accountCodeIn},</if>
            <if test="drcr != null">#{drcr},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createName != null">#{createName},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateName != null">#{updateName},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateFinanceAaCarryRulesCorp" parameterType="com.jlkj.finance.aa.domain.FinanceAaCarryRulesCorp">
        update finance_aa_company_carry_rules
        <trim prefix="SET" suffixOverrides=",">
            <if test="companyId != null">company_id = #{companyId},</if>
            <if test="rulesId != null">rules_id = #{rulesId},</if>
            <if test="rulesNo != null">rules_no = #{rulesNo},</if>
            <if test="accountIdOut != null">account_id_out = #{accountIdOut},</if>
            <if test="accountCodeOut != null">account_code_out = #{accountCodeOut},</if>
            <if test="carryType != null">carry_type = #{carryType},</if>
            <if test="accountIdIn != null">account_id_in = #{accountIdIn},</if>
            <if test="accountCodeIn != null">account_code_in = #{accountCodeIn},</if>
            <if test="drcr != null">drcr = #{drcr},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createName != null">create_name = #{createName},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateName != null">update_name = #{updateName},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteFinanceAaCarryRulesCorpById" parameterType="String">
        delete from finance_aa_company_carry_rules where id = #{id}
    </delete>

    <delete id="deleteFinanceAaCarryRulesCorpByIds" parameterType="String">
        delete from finance_aa_company_carry_rules where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>