<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jlkj.finance.aa.mapper.FinanceAaUnitChgMapper">
    
    <resultMap type="com.jlkj.finance.aa.domain.FinanceAaUnitChg" id="FinanceAaUnitChgResult">
        <result property="id"    column="id"    />
        <result property="unitId"    column="unit_id"    />
        <result property="unitNo"    column="unit_no"    />
        <result property="chgunitid"    column="chgUnitId"    />
        <result property="chgunitNo"    column="chgUnit_no"    />
        <result property="changerate"    column="changeRate"    />
        <result property="createBy"    column="create_by"    />
        <result property="createName"    column="create_name"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateName"    column="update_name"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectFinanceAaUnitChgVo">
        select id, unit_id, unit_no, chgUnitId, chgUnit_no, changeRate, create_by, create_name, create_time, update_by, update_name, update_time from finance_aa_unit_chg
    </sql>

    <select id="selectFinanceAaUnitChgList" parameterType="com.jlkj.finance.aa.domain.FinanceAaUnitChg" resultMap="FinanceAaUnitChgResult">
        <include refid="selectFinanceAaUnitChgVo"/>
        <where>  
            <if test="unitId != null  and unitId != ''"> and unit_id = #{unitId}</if>
            <if test="chgunitid != null  and chgunitid != ''"> and chgUnitId = #{chgunitid}</if>
        </where>
    </select>
    
    <select id="selectFinanceAaUnitChgById" parameterType="String" resultMap="FinanceAaUnitChgResult">
        <include refid="selectFinanceAaUnitChgVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertFinanceAaUnitChg" parameterType="com.jlkj.finance.aa.domain.FinanceAaUnitChg">
        insert into finance_aa_unit_chg
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="unitId != null">unit_id,</if>
            <if test="unitNo != null">unit_no,</if>
            <if test="chgunitid != null">chgUnitId,</if>
            <if test="chgunitNo != null">chgUnit_no,</if>
            <if test="changerate != null">changeRate,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createName != null">create_name,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateName != null">update_name,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="unitId != null">#{unitId},</if>
            <if test="unitNo != null">#{unitNo},</if>
            <if test="chgunitid != null">#{chgunitid},</if>
            <if test="chgunitNo != null">#{chgunitNo},</if>
            <if test="changerate != null">#{changerate},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createName != null">#{createName},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateName != null">#{updateName},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateFinanceAaUnitChg" parameterType="com.jlkj.finance.aa.domain.FinanceAaUnitChg">
        update finance_aa_unit_chg
        <trim prefix="SET" suffixOverrides=",">
            <if test="unitId != null">unit_id = #{unitId},</if>
            <if test="unitNo != null">unit_no = #{unitNo},</if>
            <if test="chgunitid != null">chgUnitId = #{chgunitid},</if>
            <if test="chgunitNo != null">chgUnit_no = #{chgunitNo},</if>
            <if test="changerate != null">changeRate = #{changerate},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createName != null">create_name = #{createName},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateName != null">update_name = #{updateName},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteFinanceAaUnitChgById" parameterType="String">
        delete from finance_aa_unit_chg where id = #{id}
    </delete>

    <delete id="deleteFinanceAaUnitChgByIds" parameterType="String">
        delete from finance_aa_unit_chg where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>