<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jlkj.finance.aa.mapper.FinanceCaltypeMapper">
    
    <resultMap id="FinanceCaltypeResult" type="com.jlkj.finance.aa.domain.FinanceCaltype">
        <result property="id"    column="id"    />
        <result property="companyId"    column="company_id"    />
        <result property="calTypeCode"    column="cal_type_code"    />
        <result property="calTypeName"    column="cal_type_name"    />
        <result property="calRule"    column="cal_rule"    />
        <result property="createBy"    column="create_by"    />
        <result property="createName"    column="create_name"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateName"    column="update_name"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectFinanceCaltypeVo">
        select id, company_id, cal_type_code, cal_type_name, cal_rule, create_by, create_name, create_time, update_by, update_name, update_time from finance_aa_calType
    </sql>

    <select id="selectFinanceCaltypeList" parameterType="com.jlkj.finance.aa.domain.FinanceCaltype" resultMap="FinanceCaltypeResult">
        <include refid="selectFinanceCaltypeVo"/>
        <where>  
            <if test="companyId != null  and companyId != ''"> and company_id = #{companyId}</if>
            <if test="calTypeCode != null  and calTypeCode != ''"> and cal_type_code = #{calTypeCode}</if>
            <if test="calTypeName != null  and calTypeName != ''"> and cal_type_name = #{calTypeName}</if>
        </where>
    </select>
    
    <select id="selectFinanceCaltypeById" parameterType="String" resultMap="FinanceCaltypeResult">
        <include refid="selectFinanceCaltypeVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertFinanceCaltype" parameterType="com.jlkj.finance.aa.domain.FinanceCaltype">
        insert into finance_aa_calType
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="companyId != null">company_id,</if>
            <if test="calTypeCode != null">cal_type_code,</if>
            <if test="calTypeName != null">cal_type_name,</if>
            <if test="calRule != null">cal_rule,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createName != null">create_name,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateName != null">update_name,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="companyId != null">#{companyId},</if>
            <if test="calTypeCode != null">#{calTypeCode},</if>
            <if test="calTypeName != null">#{calTypeName},</if>
            <if test="calRule != null">#{calRule},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createName != null">#{createName},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateName != null">#{updateName},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateFinanceCaltype" parameterType="com.jlkj.finance.aa.domain.FinanceCaltype">
        update finance_aa_calType
        <trim prefix="SET" suffixOverrides=",">
            <if test="companyId != null">company_id = #{companyId},</if>
            <if test="calTypeCode != null">cal_type_code = #{calTypeCode},</if>
            <if test="calTypeName != null">cal_type_name = #{calTypeName},</if>
            <if test="calRule != null">cal_rule = #{calRule},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createName != null">create_name = #{createName},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateName != null">update_name = #{updateName},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteFinanceCaltypeById" parameterType="String">
        delete from finance_aa_calType where id = #{id}
    </delete>

    <delete id="deleteFinanceCaltypeByIds" parameterType="String">
        delete from finance_aa_calType where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectCalTypeList" parameterType="String" resultType="map">
        select cal_type_code value, cal_type_name label from finance_aa_calType ORDER BY cal_type_code
    </select>
    <select id="selectCalTypeSystemList" resultType="com.jlkj.finance.aa.domain.FinanceCaltype">
        <include refid="selectFinanceCaltypeVo"/>
        <where>
            <if test="companyId != null  and companyId != ''"> and company_id = #{companyId}</if>
            <if test="calTypeCode != null  and calTypeCode != ''"> and cal_type_code = #{calTypeCode}</if>
        </where>
    </select>
</mapper>