<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jlkj.finance.aa.mapper.FinanceAaReportInfoMapper">
    
    <resultMap type="com.jlkj.finance.aa.domain.FinanceAaReportInfo" id="FinanceAaReportInfoResult">
        <result property="id"    column="id"    />
        <result property="companyId"    column="company_id"    />
        <result property="reportId"    column="report_id"    />
        <result property="acctPeriod"    column="acct_period"    />
        <result property="status"    column="status"    />
        <result property="info"    column="info"    />
        <result property="createBy"    column="create_by"    />
        <result property="createName"    column="create_name"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectFinanceAaReportInfoVo">
        select id, company_id, report_id, acct_period, status, info, create_by, create_name, create_time from finance_aa_report_info
    </sql>

    <select id="selectFinanceAaReportInfoList" parameterType="com.jlkj.finance.aa.domain.FinanceAaReportInfo" resultMap="FinanceAaReportInfoResult">
        <include refid="selectFinanceAaReportInfoVo"/>
        <where>  
            <if test="companyId != null  and companyId != ''"> and company_id = #{companyId}</if>
            <if test="acctPeriod != null "> and acct_period = #{acctPeriod}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectFinanceAaReportInfoById" parameterType="String" resultMap="FinanceAaReportInfoResult">
        <include refid="selectFinanceAaReportInfoVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertFinanceAaReportInfo" parameterType="com.jlkj.finance.aa.domain.FinanceAaReportInfo">
        insert into finance_aa_report_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="companyId != null">company_id,</if>
            <if test="reportId != null">report_id,</if>
            <if test="acctPeriod != null">acct_period,</if>
            <if test="status != null">status,</if>
            <if test="info != null">info,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createName != null">create_name,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="companyId != null">#{companyId},</if>
            <if test="reportId != null">#{reportId},</if>
            <if test="acctPeriod != null">#{acctPeriod},</if>
            <if test="status != null">#{status},</if>
            <if test="info != null">#{info},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createName != null">#{createName},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateFinanceAaReportInfo" parameterType="com.jlkj.finance.aa.domain.FinanceAaReportInfo">
        update finance_aa_report_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="companyId != null">company_id = #{companyId},</if>
            <if test="reportId != null">report_id = #{reportId},</if>
            <if test="acctPeriod != null">acct_period = #{acctPeriod},</if>
            <if test="status != null">status = #{status},</if>
            <if test="info != null">info = #{info},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createName != null">create_name = #{createName},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteFinanceAaReportInfoById" parameterType="String">
        delete from finance_aa_report_info where id = #{id}
    </delete>

    <delete id="deleteFinanceAaReportInfoByIds" parameterType="String">
        delete from finance_aa_report_info where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>