<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jlkj.finance.aa.mapper.financeAaDeprmethodMapper">
    
    <resultMap type="com.jlkj.finance.aa.domain.financeAaDeprmethod" id="financeAaDeprmethodResult">
        <result property="id"    column="id"    />
        <result property="deprNo"    column="depr_no"    />
        <result property="deprName"    column="depr_name"    />
        <result property="createBy"    column="create_by"    />
        <result property="createName"    column="create_name"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateName"    column="update_name"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectfinanceAaDeprmethodVo">
        select id, depr_no, depr_name, create_by, create_name, create_time, update_by, update_name, update_time from finance_aa_deprMethod
    </sql>

    <select id="selectfinanceAaDeprmethodList" parameterType="com.jlkj.finance.aa.domain.financeAaDeprmethod" resultMap="financeAaDeprmethodResult">
        <include refid="selectfinanceAaDeprmethodVo"/>
        <where>  
            <if test="deprNo != null  and deprNo != ''"> and depr_no = #{deprNo}</if>
            <if test="deprName != null  and deprName != ''"> and depr_name like concat('%', #{deprName}, '%')</if>
        </where>
    </select>
    
    <select id="selectfinanceAaDeprmethodById" parameterType="String" resultMap="financeAaDeprmethodResult">
        <include refid="selectfinanceAaDeprmethodVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertfinanceAaDeprmethod" parameterType="com.jlkj.finance.aa.domain.financeAaDeprmethod">
        insert into finance_aa_deprMethod
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="deprNo != null">depr_no,</if>
            <if test="deprName != null">depr_name,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createName != null">create_name,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateName != null">update_name,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="deprNo != null">#{deprNo},</if>
            <if test="deprName != null">#{deprName},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createName != null">#{createName},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateName != null">#{updateName},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updatefinanceAaDeprmethod" parameterType="com.jlkj.finance.aa.domain.financeAaDeprmethod">
        update finance_aa_deprMethod
        <trim prefix="SET" suffixOverrides=",">
            <if test="deprNo != null">depr_no = #{deprNo},</if>
            <if test="deprName != null">depr_name = #{deprName},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createName != null">create_name = #{createName},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateName != null">update_name = #{updateName},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletefinanceAaDeprmethodById" parameterType="String">
        delete from finance_aa_deprMethod where id = #{id}
    </delete>

    <delete id="deletefinanceAaDeprmethodByIds" parameterType="String">
        delete from finance_aa_deprMethod where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectDeprMethodList" parameterType="String" resultType="map">
        SELECT id, depr_no value, depr_name label FROM finance_aa_deprMethod
    </select>
</mapper>