<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jlkj.finance.aa.mapper.FinanceAaProjectResultMapper">
    
    <resultMap type="com.jlkj.finance.aa.domain.FinanceAaProjectResult" id="FinanceAaProjectResultResult">
        <result property="id"    column="id"    />
        <result property="companyId"    column="company_id"    />
        <result property="reportId"    column="report_id"    />
        <result property="reportNo"    column="report_no"    />
        <result property="itemCode"    column="item_code"    />
        <result property="acctPeriod"    column="acct_period"    />
        <result property="amt"    column="amt"    />
        <result property="qty"    column="qty"    />
        <result property="createBy"    column="create_by"    />
        <result property="createName"    column="create_name"    />
        <result property="createTime"    column="create_time"    />
        <result property="itemName"    column="item_name"    />
        <result property="itemRow"    column="item_row"    />
        <result property="itemType"    column="item_type"    />
    </resultMap>

    <sql id="selectFinanceAaProjectResultVo">
        select id, company_id, report_id, report_no, item_code, acct_period, amt, qty, create_by, create_name, create_time from finance_aa_project_result
    </sql>

    <select id="selectFinanceAaProjectResultList" parameterType="com.jlkj.finance.aa.domain.FinanceAaProjectResult" resultMap="FinanceAaProjectResultResult">
        <include refid="selectFinanceAaProjectResultVo"/>
        <where>  
            <if test="companyId != null  and companyId != ''"> and company_id = #{companyId}</if>
            <if test="reportId != null  and reportId != ''"> and report_id = #{reportId}</if>
            <if test="reportNo != null  and reportNo != ''"> and report_no = #{reportNo}</if>
            <if test="itemCode != null  and itemCode != ''"> and item_code = #{itemCode}</if>
            <if test="acctPeriod != null "> and acct_period = #{acctPeriod}</if>
            <if test="amt != null "> and amt = #{amt}</if>
            <if test="qty != null "> and qty = #{qty}</if>
            <if test="createName != null  and createName != ''"> and create_name like concat('%', #{createName}, '%')</if>
        </where>
    </select>
    <select id="selectFinanceAaProjectResults" parameterType="com.jlkj.finance.aa.domain.FinanceAaProjectResult" resultMap="FinanceAaProjectResultResult">
        select t1.id as id , t1.company_id as company_id, t1.report_id as report_id, t1.report_no as report_no, t1.item_code as item_code, t1.acct_period as acct_period
        , t1.amt as amt, t1.qty as qty, t1.create_by as create_by, t1.create_name as create_name, t1.create_time as create_time,t2.item_name as item_name , t2.item_row as item_row
        , t2.item_type as item_type
        from finance_aa_project_result t1, finance_aa_project_formula t2 where t1.report_no = t2.report_no
        and  t1.item_code = t2.item_code
            <if test="companyId != null and companyId != ''"> and t1.company_id = #{companyId}</if>
            <if test="reportId != null  and reportId != ''"> and t1.report_id = #{reportId}</if>
            <if test="reportNo != null  and reportNo != ''"> and t1.report_no = #{reportNo}</if>
            <if test="itemCode != null  and itemCode != ''"> and t1.item_code = #{itemCode}</if>
            <if test="acctPeriod != null "> and t1.acct_period = #{acctPeriod}</if>
            order by t2.item_type, t2.item_row

    </select>

    <select id="selectFinanceAaProjectResultById" parameterType="Long" resultMap="FinanceAaProjectResultResult">
        <include refid="selectFinanceAaProjectResultVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertFinanceAaProjectResult" parameterType="com.jlkj.finance.aa.domain.FinanceAaProjectResult">
        insert into finance_aa_project_result
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="companyId != null">company_id,</if>
            <if test="reportId != null">report_id,</if>
            <if test="reportNo != null">report_no,</if>
            <if test="itemCode != null">item_code,</if>
            <if test="acctPeriod != null">acct_period,</if>
            <if test="amt != null">amt,</if>
            <if test="qty != null">qty,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createName != null">create_name,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="companyId != null">#{companyId},</if>
            <if test="reportId != null">#{reportId},</if>
            <if test="reportNo != null">#{reportNo},</if>
            <if test="itemCode != null">#{itemCode},</if>
            <if test="acctPeriod != null">#{acctPeriod},</if>
            <if test="amt != null">#{amt},</if>
            <if test="qty != null">#{qty},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createName != null">#{createName},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateFinanceAaProjectResult" parameterType="com.jlkj.finance.aa.domain.FinanceAaProjectResult">
        update finance_aa_project_result
        <trim prefix="SET" suffixOverrides=",">
            <if test="companyId != null">company_id = #{companyId},</if>
            <if test="reportId != null">report_id = #{reportId},</if>
            <if test="reportNo != null">report_no = #{reportNo},</if>
            <if test="itemCode != null">item_code = #{itemCode},</if>
            <if test="acctPeriod != null">acct_period = #{acctPeriod},</if>
            <if test="amt != null">amt = #{amt},</if>
            <if test="qty != null">qty = #{qty},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createName != null">create_name = #{createName},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteFinanceAaProjectResultById" parameterType="Long">
        delete from finance_aa_project_result where id = #{id}
    </delete>

    <delete id="deleteFinanceAaProjectResultByPeriod" parameterType="String">
        delete from finance_aa_project_result where
         company_id = #{companyId}
         and     report_no = #{reportNo}
         and acct_period = #{acctPeriod}
    </delete>


    <delete id="deleteFinanceAaProjectResultByIds" parameterType="String">
        delete from finance_aa_project_result where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>