<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jlkj.finance.aa.mapper.IpmsDeBankAccountMapper">
    
    <resultMap type="IpmsDeBankAccount" id="IpmsDeBankAccountResult">
        <result property="id"    column="id"    />
        <result property="compId"    column="comp_id"    />
        <result property="bankId"    column="bank_id"    />
        <result property="bankName"    column="bank_name"    />
        <result property="branchNo"    column="branch_no"    />
        <result property="acctType"    column="acct_type"    />
        <result property="acctTypeName"    column="acct_type_name"    />
        <result property="remitAcctno"    column="remit_acctno"    />
        <result property="acctId"    column="acct_id"    />
        <result property="acctCode"    column="acct_code"    />
        <result property="calTypeIda"    column="cal_type_ida"    />
        <result property="calTypeCodea"    column="cal_type_codea"    />
        <result property="calTypeIdb"    column="cal_type_idb"    />
        <result property="calTypeCodeb"    column="cal_type_codeb"    />
        <result property="calTypeIdc"    column="cal_type_idc"    />
        <result property="calTypeCodec"    column="cal_type_codec"    />
        <result property="calTypeIdd"    column="cal_type_idd"    />
        <result property="calTypeCoded"    column="cal_type_coded"    />
        <result property="phoneNo"    column="phone_no"    />
        <result property="address"    column="address"    />
        <result property="status"    column="status"    />
        <result property="remark"    column="remark"    />
        <result property="createBy"    column="create_by"    />
        <result property="createName"    column="create_name"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateName"    column="update_name"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectIpmsDeBankAccountVo">
        select id, comp_id, bank_id, bank_name, branch_no, acct_type, acct_type_name, remit_acctno, acct_id, acct_code, cal_type_ida, cal_type_codea, cal_type_idb, cal_type_codeb, cal_type_idc, cal_type_codec, cal_type_idd, cal_type_coded, phone_no, address, status, remark, create_by, create_name, create_time, update_by, update_name, update_time from ipms_de_bank_account
    </sql>

    <select id="selectIpmsDeBankAccountList" parameterType="IpmsDeBankAccount" resultMap="IpmsDeBankAccountResult">
        <include refid="selectIpmsDeBankAccountVo"/>
        <where>  
            <if test="compId != null  and compId != ''"> and comp_id = #{compId}</if>
            <if test="bankId != null  and bankId != ''"> and bank_id = #{bankId}</if>
            <if test="bankName != null  and bankName != ''"> and bank_name like concat('%', #{bankName}, '%')</if>
        </where>
    </select>
    
    <select id="selectIpmsDeBankAccountById" parameterType="String" resultMap="IpmsDeBankAccountResult">
        <include refid="selectIpmsDeBankAccountVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertIpmsDeBankAccount" parameterType="IpmsDeBankAccount">
        insert into ipms_de_bank_account
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="compId != null">comp_id,</if>
            <if test="bankId != null">bank_id,</if>
            <if test="bankName != null">bank_name,</if>
            <if test="branchNo != null">branch_no,</if>
            <if test="acctType != null">acct_type,</if>
            <if test="acctTypeName != null">acct_type_name,</if>
            <if test="remitAcctno != null">remit_acctno,</if>
            <if test="acctId != null">acct_id,</if>
            <if test="acctCode != null">acct_code,</if>
            <if test="calTypeIda != null">cal_type_ida,</if>
            <if test="calTypeCodea != null">cal_type_codea,</if>
            <if test="calTypeIdb != null">cal_type_idb,</if>
            <if test="calTypeCodeb != null">cal_type_codeb,</if>
            <if test="calTypeIdc != null">cal_type_idc,</if>
            <if test="calTypeCodec != null">cal_type_codec,</if>
            <if test="calTypeIdd != null">cal_type_idd,</if>
            <if test="calTypeCoded != null">cal_type_coded,</if>
            <if test="phoneNo != null">phone_no,</if>
            <if test="address != null">address,</if>
            <if test="status != null">status,</if>
            <if test="remark != null">remark,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createName != null">create_name,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateName != null">update_name,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="compId != null">#{compId},</if>
            <if test="bankId != null">#{bankId},</if>
            <if test="bankName != null">#{bankName},</if>
            <if test="branchNo != null">#{branchNo},</if>
            <if test="acctType != null">#{acctType},</if>
            <if test="acctTypeName != null">#{acctTypeName},</if>
            <if test="remitAcctno != null">#{remitAcctno},</if>
            <if test="acctId != null">#{acctId},</if>
            <if test="acctCode != null">#{acctCode},</if>
            <if test="calTypeIda != null">#{calTypeIda},</if>
            <if test="calTypeCodea != null">#{calTypeCodea},</if>
            <if test="calTypeIdb != null">#{calTypeIdb},</if>
            <if test="calTypeCodeb != null">#{calTypeCodeb},</if>
            <if test="calTypeIdc != null">#{calTypeIdc},</if>
            <if test="calTypeCodec != null">#{calTypeCodec},</if>
            <if test="calTypeIdd != null">#{calTypeIdd},</if>
            <if test="calTypeCoded != null">#{calTypeCoded},</if>
            <if test="phoneNo != null">#{phoneNo},</if>
            <if test="address != null">#{address},</if>
            <if test="status != null">#{status},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createName != null">#{createName},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateName != null">#{updateName},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateIpmsDeBankAccount" parameterType="IpmsDeBankAccount">
        update ipms_de_bank_account
        <trim prefix="SET" suffixOverrides=",">
            <if test="compId != null">comp_id = #{compId},</if>
            <if test="bankId != null">bank_id = #{bankId},</if>
            <if test="bankName != null">bank_name = #{bankName},</if>
            <if test="branchNo != null">branch_no = #{branchNo},</if>
            <if test="acctType != null">acct_type = #{acctType},</if>
            <if test="acctTypeName != null">acct_type_name = #{acctTypeName},</if>
            <if test="remitAcctno != null">remit_acctno = #{remitAcctno},</if>
            <if test="acctId != null">acct_id = #{acctId},</if>
            <if test="acctCode != null">acct_code = #{acctCode},</if>
            <if test="calTypeIda != null">cal_type_ida = #{calTypeIda},</if>
            <if test="calTypeCodea != null">cal_type_codea = #{calTypeCodea},</if>
            <if test="calTypeIdb != null">cal_type_idb = #{calTypeIdb},</if>
            <if test="calTypeCodeb != null">cal_type_codeb = #{calTypeCodeb},</if>
            <if test="calTypeIdc != null">cal_type_idc = #{calTypeIdc},</if>
            <if test="calTypeCodec != null">cal_type_codec = #{calTypeCodec},</if>
            <if test="calTypeIdd != null">cal_type_idd = #{calTypeIdd},</if>
            <if test="calTypeCoded != null">cal_type_coded = #{calTypeCoded},</if>
            <if test="phoneNo != null">phone_no = #{phoneNo},</if>
            <if test="address != null">address = #{address},</if>
            <if test="status != null">status = #{status},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createName != null">create_name = #{createName},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateName != null">update_name = #{updateName},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteIpmsDeBankAccountById" parameterType="String">
        delete from ipms_de_bank_account where id = #{id}
    </delete>

    <delete id="deleteIpmsDeBankAccountByIds" parameterType="String">
        delete from ipms_de_bank_account where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>