<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jlkj.finance.ap.mapper.FinanceApItemDetailCompanyMapper">
    
    <resultMap type="FinanceApItemDetailCompany" id="FinanceApItemDetailCompanyResult">
        <result property="id"    column="id"    />
        <result property="companyId"    column="company_id"    />
        <result property="itemNo"    column="item_no"    />
        <result property="detailNo"    column="detail_no"    />
        <result property="detailName"    column="detail_name"    />
        <result property="expenseType"    column="expense_type"    />
        <result property="drAcctCode"    column="dr_acct_code"    />
        <result property="crAcctCode"    column="cr_acct_code"    />
        <result property="budgetType"    column="budget_type"    />
        <result property="costCode"    column="cost_code"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createName"    column="create_name"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateName"    column="update_name"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectFinanceApItemDetailCompanyVo">
        select id, company_id, item_no, detail_no, detail_name, expense_type, dr_acct_code, cr_acct_code, budget_type, cost_code, status, create_by, create_name, create_time, update_by, update_name, update_time from finance_ap_item_detail_company
    </sql>

    <select id="selectFinanceApItemDetailCompanyList" parameterType="FinanceApItemDetailCompany" resultMap="FinanceApItemDetailCompanyResult">
        <include refid="selectFinanceApItemDetailCompanyVo"/>
        <where>  
            <if test="itemNo != null  and itemNo != ''"> and item_no = #{itemNo}</if>
            <if test="detailNo != null  and detailNo != ''"> and detail_no = #{detailNo}</if>
        </where>
    </select>
    
    <select id="selectFinanceApItemDetailCompanyById" parameterType="String" resultMap="FinanceApItemDetailCompanyResult">
        <include refid="selectFinanceApItemDetailCompanyVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertFinanceApItemDetailCompany" parameterType="FinanceApItemDetailCompany">
        insert into finance_ap_item_detail_company
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="companyId != null">company_id,</if>
            <if test="itemNo != null">item_no,</if>
            <if test="detailNo != null">detail_no,</if>
            <if test="detailName != null">detail_name,</if>
            <if test="expenseType != null">expense_type,</if>
            <if test="drAcctCode != null">dr_acct_code,</if>
            <if test="crAcctCode != null">cr_acct_code,</if>
            <if test="budgetType != null">budget_type,</if>
            <if test="costCode != null">cost_code,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createName != null">create_name,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateName != null">update_name,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="companyId != null">#{companyId},</if>
            <if test="itemNo != null">#{itemNo},</if>
            <if test="detailNo != null">#{detailNo},</if>
            <if test="detailName != null">#{detailName},</if>
            <if test="expenseType != null">#{expenseType},</if>
            <if test="drAcctCode != null">#{drAcctCode},</if>
            <if test="crAcctCode != null">#{crAcctCode},</if>
            <if test="budgetType != null">#{budgetType},</if>
            <if test="costCode != null">#{costCode},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createName != null">#{createName},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateName != null">#{updateName},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateFinanceApItemDetailCompany" parameterType="FinanceApItemDetailCompany">
        update finance_ap_item_detail_company
        <trim prefix="SET" suffixOverrides=",">
            <if test="companyId != null">company_id = #{companyId},</if>
            <if test="itemNo != null">item_no = #{itemNo},</if>
            <if test="detailNo != null">detail_no = #{detailNo},</if>
            <if test="detailName != null">detail_name = #{detailName},</if>
            <if test="expenseType != null">expense_type = #{expenseType},</if>
            <if test="drAcctCode != null">dr_acct_code = #{drAcctCode},</if>
            <if test="crAcctCode != null">cr_acct_code = #{crAcctCode},</if>
            <if test="budgetType != null">budget_type = #{budgetType},</if>
            <if test="costCode != null">cost_code = #{costCode},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createName != null">create_name = #{createName},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateName != null">update_name = #{updateName},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteFinanceApItemDetailCompanyById" parameterType="String">
        delete from finance_ap_item_detail_company where id = #{id}
    </delete>

    <delete id="deleteFinanceApItemDetailCompanyByIds" parameterType="String">
        delete from finance_ap_item_detail_company where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <insert id="insertBatch">
        insert into finance_ap_item_detail_company (id, company_id,item_no,detail_no,detail_name,expense_type,dr_acct_code,budget_type,cost_code,cr_acct_code,status,create_by,create_name,create_time) values
        <foreach item="item" index="index" collection="list" separator=",">
            (#{item.id},#{item.companyId},#{item.itemNo},#{item.detailNo},#{item.detailName},#{item.expenseType},#{item.drAcctCode},#{item.budgetType},#{item.costCode},#{item.crAcctCode},#{item.status},#{item.createBy},#{item.createName},#{item.createTime})
        </foreach>
    </insert>
</mapper>