<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jlkj.finance.ap.mapper.FinanceApParaMapper">
    
    <resultMap type="FinanceApPara" id="FinanceApParaResult">
        <result property="id"    column="id"    />
        <result property="companyId"    column="company_id"    />
        <result property="parameterKey"    column="parameter_key"    />
        <result property="parameterDesc"    column="parameter_desc"    />
        <result property="parameterValue"    column="parameter_value"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createName"    column="create_name"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateName"    column="update_name"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectFinanceApParaVo">
        select id, company_id, parameter_key, parameter_desc, parameter_value, status, create_by, create_name, create_time, update_by, update_name, update_time from finance_ap_para
    </sql>

    <select id="selectFinanceApParaList" parameterType="FinanceApPara" resultMap="FinanceApParaResult">
        <include refid="selectFinanceApParaVo"/>
        <where>  
            <if test="companyId != null  and companyId != ''"> and company_id = #{companyId}</if>
            <if test="parameterKey != null  and parameterKey != ''"> and parameter_key = #{parameterKey}</if>
            <if test="parameterDesc != null  and parameterDesc != ''"> and parameter_desc = #{parameterDesc}</if>
        </where>
    </select>
    
    <select id="selectFinanceApParaById" parameterType="String" resultMap="FinanceApParaResult">
        <include refid="selectFinanceApParaVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertFinanceApPara" parameterType="FinanceApPara">
        insert into finance_ap_para
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="companyId != null and companyId != ''">company_id,</if>
            <if test="parameterKey != null and parameterKey != ''">parameter_key,</if>
            <if test="parameterDesc != null and parameterDesc != ''">parameter_desc,</if>
            <if test="parameterValue != null and parameterValue != ''">parameter_value,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createName != null">create_name,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateName != null">update_name,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="companyId != null and companyId != ''">#{companyId},</if>
            <if test="parameterKey != null and parameterKey != ''">#{parameterKey},</if>
            <if test="parameterDesc != null and parameterDesc != ''">#{parameterDesc},</if>
            <if test="parameterValue != null and parameterValue != ''">#{parameterValue},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createName != null">#{createName},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateName != null">#{updateName},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateFinanceApPara" parameterType="FinanceApPara">
        update finance_ap_para
        <trim prefix="SET" suffixOverrides=",">
            <if test="companyId != null and companyId != ''">company_id = #{companyId},</if>
            <if test="parameterKey != null and parameterKey != ''">parameter_key = #{parameterKey},</if>
            <if test="parameterDesc != null and parameterDesc != ''">parameter_desc = #{parameterDesc},</if>
            <if test="parameterValue != null and parameterValue != ''">parameter_value = #{parameterValue},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createName != null">create_name = #{createName},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateName != null">update_name = #{updateName},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteFinanceApParaById" parameterType="String">
        delete from finance_ap_para where id = #{id}
    </delete>

    <delete id="deleteFinanceApParaByIds" parameterType="String">
        delete from finance_ap_para where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>