<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jlkj.finance.GP.mapper.ManufacturerBaseMapper">

    <resultMap id="BaseResultMap" type="com.jlkj.finance.gp.domain.ManufacturerBase">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="compId" column="comp_id" jdbcType="VARCHAR"/>
            <result property="manufacturerId" column="manufacturer_id" jdbcType="VARCHAR"/>
            <result property="countryId" column="country_id" jdbcType="VARCHAR"/>
            <result property="countryName" column="country_name" jdbcType="VARCHAR"/>
            <result property="catalog" column="catalog" jdbcType="VARCHAR"/>
            <result property="catalogName" column="catalog_name" jdbcType="VARCHAR"/>
            <result property="areaId" column="area_id" jdbcType="VARCHAR"/>
            <result property="areaName" column="area_name" jdbcType="VARCHAR"/>
            <result property="manufacturerChineseName" column="manufacturer_chinese_name" jdbcType="VARCHAR"/>
            <result property="manufacturerEnglishName" column="manufacturer_english_name" jdbcType="VARCHAR"/>
            <result property="manufacturerShortName" column="manufacturer_short_name" jdbcType="VARCHAR"/>
            <result property="taxNo" column="tax_no" jdbcType="VARCHAR"/>
            <result property="owner" column="owner" jdbcType="VARCHAR"/>
            <result property="ownerTitle" column="owner_title" jdbcType="VARCHAR"/>
            <result property="capital" column="capital" jdbcType="DECIMAL"/>
            <result property="capitalCurrencyCode" column="capital_currency_code" jdbcType="VARCHAR"/>
            <result property="turnover" column="turnover" jdbcType="DECIMAL"/>
            <result property="turnoverCurrencyCode" column="turnover_currency_code" jdbcType="VARCHAR"/>
            <result property="createUser" column="create_user" jdbcType="VARCHAR"/>
            <result property="updateUser" column="update_user" jdbcType="VARCHAR"/>
            <result property="originaManufacturerId" column="origina_manufacturer_id" jdbcType="VARCHAR"/>
            <result property="billAddress" column="bill_address" jdbcType="VARCHAR"/>
            <result property="billZipCode" column="bill_zip_code" jdbcType="VARCHAR"/>
            <result property="billZipDesc" column="bill_zip_desc" jdbcType="VARCHAR"/>
            <result property="web" column="web" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="VARCHAR"/>
            <result property="corelation" column="corelation" jdbcType="VARCHAR"/>
            <result property="professional" column="professional" jdbcType="VARCHAR"/>
            <result property="mainAreaId" column="main_area_id" jdbcType="VARCHAR"/>
            <result property="mainAreaDesc" column="main_area_desc" jdbcType="VARCHAR"/>
            <result property="detailAreaId" column="detail_area_id" jdbcType="VARCHAR"/>
            <result property="detailAreaDesc" column="detail_area_desc" jdbcType="VARCHAR"/>
            <result property="groupClass" column="group_class" jdbcType="VARCHAR"/>
            <result property="relatedParty" column="related_party" jdbcType="VARCHAR"/>
            <result property="relatedPartyItem" column="related_party_item" jdbcType="VARCHAR"/>
            <result property="departmentCode" column="department_code" jdbcType="VARCHAR"/>
            <result property="clearStatus" column="clear_status" jdbcType="VARCHAR"/>
            <result property="isCentralizedPurchase" column="is_centralized_purchase" jdbcType="VARCHAR"/>
            <result property="originalManufacturerChineseName" column="original_manufacturer_chinese_name" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="parentId" column="parent_id" jdbcType="VARCHAR"/>
            <result property="delFlag" column="del_flag" jdbcType="SMALLINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,comp_id,manufacturer_id,
        country_id,country_name,catalog,
        catalog_name,area_id,area_name,
        manufacturer_chinese_name,manufacturer_english_name,manufacturer_short_name,
        tax_no,owner,owner_title,
        capital,capital_currency_code,turnover,
        turnover_currency_code,create_user,update_user,
        origina_manufacturer_id,bill_address,bill_zip_code,
        bill_zip_desc,web,status,
        corelation,professional,main_area_id,
        main_area_desc,detail_area_id,detail_area_desc,
        group_class,related_party,related_party_item,
        department_code,clear_status,is_centralized_purchase,
        original_manufacturer_chinese_name,create_time,update_time,
        parent_id,del_flag
    </sql>
    <select id="selectTree" resultMap="BaseResultMap">
        select * from test_tree
    </select>
</mapper>
