<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jlkj.quality.ts.mapper.ElementTableDescriptionMapper">

    <resultMap id="BaseResultMap" type="com.jlkj.quality.ts.domain.ElementTableDescription">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="formatId" column="format_id" jdbcType="VARCHAR"/>
            <result property="formatMemo" column="format_memo" jdbcType="VARCHAR"/>
            <result property="createUser" column="create_user" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateUser" column="update_user" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="createUserName" column="create_user_name" jdbcType="VARCHAR"/>
            <result property="updateUserName" column="update_user_name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,format_id,format_memo,
        creat_user,create_time,update_user,
        update_time,create_user_name,update_user_name
    </sql>
</mapper>
