<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jlkj.quality.ts.mapper.ExperimentRecordDetailMapper">

    <resultMap id="BaseResultMap" type="com.jlkj.quality.ts.domain.ExperimentRecordDetail">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="parentId" column="parent_id" jdbcType="VARCHAR"/>
            <result property="code" column="code" jdbcType="VARCHAR"/>
            <result property="formatId" column="format_id" jdbcType="VARCHAR"/>
            <result property="receiveTime" column="receive_time" jdbcType="VARCHAR"/>
            <result property="sampleId" column="sample_id" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="createUser" column="create_user" jdbcType="VARCHAR"/>
            <result property="updateUser" column="update_user" jdbcType="VARCHAR"/>
            <result property="createUserName" column="create_user_name" jdbcType="VARCHAR"/>
            <result property="updateUserName" column="update_user_name" jdbcType="VARCHAR"/>
            <result property="element" column="element" jdbcType="VARCHAR"/>
            <result property="elementId" column="element_id" jdbcType="VARCHAR"/>
            <result property="elementValue" column="element_value" jdbcType="VARCHAR"/>
            <result property="sampleType" column="sample_type" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,parent_id,code,
        format_id,receive_time,sample_id,
        create_time,update_time,create_user,
        update_user,create_user_name,update_user_name,
        element,element_id,element_value,
        sample_type
    </sql>
</mapper>
