<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jlkj.human.hm.mapper.BaseinfoMapper">

    <resultMap id="BaseResultMap" type="com.jlkj.human.hm.domain.Baseinfo">
            <id property="uuid" column="uuid" jdbcType="VARCHAR"/>
            <result property="parentId" column="parent_id" jdbcType="VARCHAR"/>
            <result property="dicNo" column="dic_no" jdbcType="VARCHAR"/>
            <result property="dicName" column="dic_name" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="VARCHAR"/>
            <result property="updateEmp" column="update_emp" jdbcType="VARCHAR"/>
            <result property="updateDate" column="update_date" jdbcType="TIMESTAMP"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        uuid,parent_id,dic_no,
        dic_name,status,update_emp,
        update_date,remark
    </sql>
</mapper>
