<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jlkj.human.hm.mapper.ChangeDetailMapper">

    <resultMap id="BaseResultMap" type="com.jlkj.human.hm.domain.ChangeDetail">
            <id property="uuid" column="uuid" jdbcType="VARCHAR"/>
            <result property="parentId" column="parent_id" jdbcType="VARCHAR"/>
            <result property="postTypeId" column="post_type_id" jdbcType="VARCHAR"/>
            <result property="oldPostId" column="old_post_id" jdbcType="VARCHAR"/>
            <result property="oldPostName" column="old_post_name" jdbcType="VARCHAR"/>
            <result property="newPostId" column="new_post_id" jdbcType="VARCHAR"/>
            <result property="newPostName" column="new_post_name" jdbcType="VARCHAR"/>
            <result property="creator" column="creator" jdbcType="VARCHAR"/>
            <result property="creatorId" column="creator_id" jdbcType="VARCHAR"/>
            <result property="createDate" column="create_date" jdbcType="TIMESTAMP"/>
            <result property="alternateField1" column="alternate_field1" jdbcType="VARCHAR"/>
            <result property="alternateField2" column="alternate_field2" jdbcType="VARCHAR"/>
            <result property="alternateField3" column="alternate_field3" jdbcType="VARCHAR"/>
            <result property="alternateField4" column="alternate_field4" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        uuid,parent_id,post_type_id,
        old_post_id,old_post_name,new_post_id,
        new_post_name,creator,creator_id,
        create_date,alternate_field1,alternate_field2,
        alternate_field3,alternate_field4
    </sql>
</mapper>
