<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jlkj.human.hm.mapper.ContractMapper">

    <resultMap id="BaseResultMap" type="com.jlkj.human.hm.domain.Contract">
            <id property="uuid" column="uuid" jdbcType="VARCHAR"/>
            <result property="compId" column="comp_id" jdbcType="VARCHAR"/>
            <result property="empNo" column="emp_no" jdbcType="VARCHAR"/>
            <result property="empId" column="emp_id" jdbcType="VARCHAR"/>
            <result property="relStatus" column="rel_status" jdbcType="VARCHAR"/>
            <result property="empName" column="emp_name" jdbcType="VARCHAR"/>
            <result property="contractNo" column="contract_no" jdbcType="VARCHAR"/>
            <result property="signDate" column="sign_date" jdbcType="DATE"/>
            <result property="startDate" column="start_date" jdbcType="DATE"/>
            <result property="conPeriId" column="con_peri_id" jdbcType="DATE"/>
            <result property="endDate" column="end_date" jdbcType="DATE"/>
            <result property="workAddrId" column="work_addr_id" jdbcType="VARCHAR"/>
            <result property="empFeaId" column="emp_fea_id" jdbcType="VARCHAR"/>
            <result property="empIdeId" column="emp_ide_id" jdbcType="VARCHAR"/>
            <result property="relTypeId" column="rel_type_id" jdbcType="VARCHAR"/>
            <result property="leaveEffectDate" column="leave_effect_date" jdbcType="DATE"/>
            <result property="probStartDate" column="prob_start_date" jdbcType="DATE"/>
            <result property="probPeriId" column="prob_peri_id" jdbcType="VARCHAR"/>
            <result property="probEndDate" column="prob_end_date" jdbcType="DATE"/>
            <result property="ifProb" column="if_prob" jdbcType="VARCHAR"/>
            <result property="chaReaId" column="cha_rea_id" jdbcType="VARCHAR"/>
            <result property="chaReaDesc" column="cha_rea_desc" jdbcType="VARCHAR"/>
            <result property="protType1Id" column="prot_type1_id" jdbcType="VARCHAR"/>
            <result property="protDesc1" column="prot_desc1" jdbcType="VARCHAR"/>
            <result property="protType2Id" column="prot_type2_id" jdbcType="VARCHAR"/>
            <result property="protDesc2" column="prot_desc2" jdbcType="VARCHAR"/>
            <result property="protType3Id" column="prot_type3_id" jdbcType="VARCHAR"/>
            <result property="protDesc3" column="prot_desc3" jdbcType="VARCHAR"/>
            <result property="releseDesc" column="relese_desc" jdbcType="VARCHAR"/>
            <result property="versionNo" column="version_no" jdbcType="VARCHAR"/>
            <result property="creator" column="creator" jdbcType="VARCHAR"/>
            <result property="creatorId" column="creator_id" jdbcType="VARCHAR"/>
            <result property="createDate" column="create_date" jdbcType="TIMESTAMP"/>
            <result property="alternateField1" column="alternate_field1" jdbcType="VARCHAR"/>
            <result property="alternateField2" column="alternate_field2" jdbcType="VARCHAR"/>
            <result property="alternateField3" column="alternate_field3" jdbcType="VARCHAR"/>
            <result property="alternateField4" column="alternate_field4" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        uuid,comp_id,emp_no,
        emp_id,rel_status,emp_name,
        contract_no,sign_date,start_date,
        con_peri_id,end_date,work_addr_id,
        emp_fea_id,emp_ide_id,rel_type_id,
        leave_effect_date,prob_start_date,prob_peri_id,
        prob_end_date,if_prob,cha_rea_id,
        cha_rea_desc,prot_type1_id,prot_desc1,
        prot_type2_id,prot_desc2,prot_type3_id,
        prot_desc3,relese_desc,version_no,
        creator,creator_id,create_date,
        alternate_field1,alternate_field2,alternate_field3,
        alternate_field4
    </sql>
</mapper>
