<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jlkj.human.hm.mapper.HumanresourcePersonnelWorkMapper">

    <resultMap id="BaseResultMap" type="com.jlkj.human.hm.domain.HumanresourcePersonnelWork">
            <id property="uuid" column="uuid" jdbcType="VARCHAR"/>
            <result property="compId" column="comp_id" jdbcType="VARCHAR"/>
            <result property="empId" column="emp_id" jdbcType="VARCHAR"/>
            <result property="startDate" column="start_date" jdbcType="VARCHAR"/>
            <result property="endDate" column="end_date" jdbcType="VARCHAR"/>
            <result property="comp" column="comp" jdbcType="VARCHAR"/>
            <result property="dept" column="dept" jdbcType="VARCHAR"/>
            <result property="post" column="post" jdbcType="VARCHAR"/>
            <result property="prover" column="prover" jdbcType="VARCHAR"/>
            <result property="tele" column="tele" jdbcType="VARCHAR"/>
            <result property="changeReasonId" column="change_reason_id" jdbcType="VARCHAR"/>
            <result property="inputType" column="input_type" jdbcType="VARCHAR"/>
            <result property="ifInComp" column="if_in_comp" jdbcType="VARCHAR"/>
            <result property="creator" column="creator" jdbcType="VARCHAR"/>
            <result property="creatorId" column="creator_id" jdbcType="VARCHAR"/>
            <result property="createDate" column="create_date" jdbcType="VARCHAR"/>
            <result property="alternateField1" column="alternate_field1" jdbcType="VARCHAR"/>
            <result property="alternateField2" column="alternate_field2" jdbcType="VARCHAR"/>
            <result property="alternateField3" column="alternate_field3" jdbcType="VARCHAR"/>
            <result property="alternateField4" column="alternate_field4" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        uuid,comp_id,emp_id,
        start_date,end_date,comp,
        dept,post,prover,
        tele,change_reason_id,input_type,
        if_in_comp,creator,creator_id,
        create_date,alternate_field1,alternate_field2,
        alternate_field3,alternate_field4
    </sql>
</mapper>
