<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jlkj.human.hs.mapper.ImportErrorMapper">
    
    <resultMap type="ImportError" id="ImportErrorResult">
        <result property="id"    column="id"    />
        <result property="payType"    column="pay_type"    />
        <result property="compId"    column="comp_id"    />
        <result property="empNo"    column="emp_no"    />
        <result property="mark"    column="mark"    />
        <result property="creator"    column="creator"    />
        <result property="creatorId"    column="creator_id"    />
        <result property="creatorNo"    column="creator_no"    />
        <result property="createDate"    column="create_date"    />
    </resultMap>

    <sql id="selectImportErrorVo">
        select id, pay_type, comp_id, emp_no,  mark, creator, creator_id, creator_no, create_date from human_hs_salary_error
    </sql>

    <select id="selectImportErrorList" parameterType="ImportError" resultMap="ImportErrorResult">
        <include refid="selectImportErrorVo"/>
        <where>  
            <if test="payType != null  and payType != ''"> and pay_type = #{payType}</if>
            <if test="compId != null  and compId != ''"> and comp_id = #{compId}</if>
        </where>
    </select>

    <select id="queryImportError" parameterType="ImportError" resultMap="ImportErrorResult">
        <include refid="selectImportErrorVo"/>
        <where>
            <if test="payType != null  and payType != ''"> and pay_type = #{payType}</if>
            <if test="compId != null  and compId != ''"> and comp_id = #{compId}</if>
        </where>
    </select>
    
    <select id="selectImportErrorById" parameterType="String" resultMap="ImportErrorResult">
        <include refid="selectImportErrorVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertImportError" parameterType="ImportError">
        insert into human_hs_salary_error
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="payType != null">pay_type,</if>
            <if test="compId != null">comp_id,</if>
            <if test="empNo != null">emp_no,</if>
            <if test="mark != null">mark,</if>
            <if test="creator != null">creator,</if>
            <if test="creatorId != null">creator_id,</if>
            <if test="creatorNo != null">creator_no,</if>
            <if test="createDate != null">create_date,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="payType != null">#{payType},</if>
            <if test="compId != null">#{compId},</if>
            <if test="empNo != null">#{empNo},</if>
            <if test="mark != null">#{mark},</if>
            <if test="creator != null">#{creator},</if>
            <if test="creatorId != null">#{creatorId},</if>
            <if test="creatorNo != null">#{creatorNo},</if>
            <if test="createDate != null">#{createDate},</if>
         </trim>
    </insert>

    <update id="updateImportError" parameterType="ImportError">
        update human_hs_salary_error
        <trim prefix="SET" suffixOverrides=",">
            <if test="payType != null">pay_type = #{payType},</if>
            <if test="compId != null">comp_id = #{compId},</if>
            <if test="empNo != null">emp_no = #{empNo},</if>
            <if test="mark != null">mark = #{mark},</if>
            <if test="creator != null">creator = #{creator},</if>
            <if test="creatorId != null">creator_id = #{creatorId},</if>
            <if test="creatorNo != null">creator_no = #{creatorNo},</if>
            <if test="createDate != null">create_date = #{createDate},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteImportErrorById" parameterType="String">
        delete from human_hs_salary_error where id = #{id}
    </delete>

    <delete id="deleteImportError" parameterType="ImportError">
        delete from human_hs_salary_error where pay_type = #{payType} and comp_id = #{compId}
    </delete>

    <delete id="deleteImportErrorByIds" parameterType="String">
        delete from human_hs_salary_error where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>