<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jlkj.human.hs.mapper.IncomeTaxMapper">
    
    <resultMap type="IncomeTax" id="IncomeTaxResult">
        <result property="uuid"    column="uuid"    />
        <result property="compId"    column="comp_id"    />
        <result property="empTypeId"    column="emp_type_id"    />
        <result property="deductNum"    column="deduct_num"    />
        <result property="remark"    column="remark"    />
        <result property="effectDate"    column="effect_date"    />
        <result property="version"    column="version"    />
        <result property="resvAttr1"    column="resv_attr1"    />
        <result property="resvAttr2"    column="resv_attr2"    />
        <result property="creator"    column="creator"    />
        <result property="creatorId"    column="creator_id"    />
        <result property="creatorName"    column="creator_name"    />
        <result property="createDate"    column="create_date"    />
    </resultMap>

    <sql id="selectIncomeTaxVo">
        select uuid, comp_id, emp_type_id, deduct_num, remark, effect_date, version, resv_attr1, resv_attr2, creator, creator_id, creator_name, create_date from human_hs_income_tax
    </sql>

    <select id="selectIncomeTaxList" parameterType="IncomeTax" resultMap="IncomeTaxResult">
        <include refid="selectIncomeTaxVo"/>
        <where>  
            <if test="compId != null  and compId != ''"> and comp_id = #{compId}</if>
            <if test="deductNum != null  and deductNum != ''"> and deduct_num = #{deductNum}</if>
            <if test="version != null "> and version = #{version}</if>
        </where>
    </select>


    
    <select id="selectIncomeTaxByUuid" parameterType="String" resultMap="IncomeTaxResult">
        <include refid="selectIncomeTaxVo"/>
        where uuid = #{uuid}
    </select>
        
    <insert id="insertIncomeTax" parameterType="IncomeTax">
        insert into human_hs_income_tax
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="uuid != null">uuid,</if>
            <if test="compId != null">comp_id,</if>
            <if test="empTypeId != null">emp_type_id,</if>
            <if test="deductNum != null">deduct_num,</if>
            <if test="remark != null">remark,</if>
            <if test="effectDate != null">effect_date,</if>
            <if test="version != null">version,</if>
            <if test="resvAttr1 != null">resv_attr1,</if>
            <if test="resvAttr2 != null">resv_attr2,</if>
            <if test="creator != null">creator,</if>
            <if test="creatorId != null">creator_id,</if>
            <if test="creatorName != null">creator_name,</if>
            <if test="createDate != null">create_date,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="uuid != null">#{uuid},</if>
            <if test="compId != null">#{compId},</if>
            <if test="empTypeId != null">#{empTypeId},</if>
            <if test="deductNum != null">#{deductNum},</if>
            <if test="remark != null">#{remark},</if>
            <if test="effectDate != null">#{effectDate},</if>
            <if test="version != null">#{version},</if>
            <if test="resvAttr1 != null">#{resvAttr1},</if>
            <if test="resvAttr2 != null">#{resvAttr2},</if>
            <if test="creator != null">#{creator},</if>
            <if test="creatorId != null">#{creatorId},</if>
            <if test="creatorName != null">#{creatorName},</if>
            <if test="createDate != null">#{createDate},</if>
         </trim>
    </insert>

    <update id="updateIncomeTax" parameterType="IncomeTax">
        update human_hs_income_tax
        <trim prefix="SET" suffixOverrides=",">
            <if test="compId != null">comp_id = #{compId},</if>
            <if test="empTypeId != null">emp_type_id = #{empTypeId},</if>
            <if test="deductNum != null">deduct_num = #{deductNum},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="effectDate != null">effect_date = #{effectDate},</if>
            <if test="version != null">version = #{version},</if>
            <if test="resvAttr1 != null">resv_attr1 = #{resvAttr1},</if>
            <if test="resvAttr2 != null">resv_attr2 = #{resvAttr2},</if>
            <if test="creator != null">creator = #{creator},</if>
            <if test="creatorId != null">creator_id = #{creatorId},</if>
            <if test="creatorName != null">creator_name = #{creatorName},</if>
            <if test="createDate != null">create_date = #{createDate},</if>
        </trim>
        where uuid = #{uuid}
    </update>

    <delete id="deleteIncomeTaxByUuid" parameterType="String">
        delete from human_hs_income_tax where uuid = #{uuid}
    </delete>

    <delete id="deleteIncomeTaxByUuids" parameterType="String">
        delete from human_hs_income_tax where uuid in 
        <foreach item="uuid" collection="array" open="(" separator="," close=")">
            #{uuid}
        </foreach>
    </delete>

    <select id="getVersionList" parameterType="String" resultMap="IncomeTaxResult">
        SELECT distinct version FROM human_hs_income_tax WHERE comp_id = #{compId}  order by  version
    </select>

    <select id="selectMaxVersion" parameterType="String" resultType="map">
        select  effect_date effectDate, version from human_hs_income_tax where comp_id = #{compId} order by effect_date desc limit 1
    </select>

    <delete id="deleteIncomeTaxByVersion" parameterType="map">
        delete from human_hs_income_tax where comp_id = #{compId} and  version= #{version}
    </delete>


    <insert id="batchInsertIncomeTax">
        insert into human_hs_income_tax(uuid, comp_id, emp_type_id, deduct_num, remark, effect_date, version, resv_attr1, resv_attr2, creator, creator_id, creator_name, create_date) values
        <foreach item="item" index="index" collection="list" separator=",">
            ( #{item.uuid}, #{item.comp_id}, #{item.emp_type_id}, #{item.deduct_num},  #{item.remark}, #{item.effect_date},  #{item.version},
            #{item.resv_attr1}, #{item.resv_attr2}, #{item.creator}, #{item.creator_id}, #{item.creator_name}, #{item.create_date})
        </foreach>
    </insert>
</mapper>