<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jlkj.human.hs.mapper.PayTableFormulaParamMapper">
    
    <resultMap type="PayTableFormulaParam" id="PayTableFormulaParamResult">
        <result property="uuid"    column="uuid"    />
        <result property="compId"    column="comp_id"    />
        <result property="isCheck"    column="is_check"    />
        <result property="paramCode"    column="param_code"    />
        <result property="paramName"    column="param_name"    />
        <result property="paramTypeId"    column="param_type_id"    />
        <result property="isAuto"    column="is_auto"    />
        <result property="paramSrcId"    column="param_src_id"    />
        <result property="status"    column="status"    />
        <result property="creatorId"    column="creator_id"    />
        <result property="creatorNo"    column="creator_no"    />
        <result property="creator"    column="creator"    />
        <result property="createDate"    column="create_date"    />
    </resultMap>

    <sql id="selectPayTableFormulaParamVo">
        select uuid, comp_id, param_code, param_name, param_type_id, is_auto, param_src_id, status, creator_id, creator_no, creator, create_date from human_hs_pay_table_formula_param
    </sql>

    <select id="selectPayTableFormulaParamList" parameterType="PayTableFormulaParam" resultMap="PayTableFormulaParamResult">

        select comp_id,  is_check, uuid, param_code, param_name, param_type_id, is_auto, param_src_id, status, creator_id, creator_no, creator,create_date
        from (select 'all' as comp_id, '0' as is_check,uuid, param_code, param_name, param_type_id, is_auto, param_src_id, status, creator_id, creator_no, creator,create_date
        from human_hs_pay_table_formula_allparam
        union all
        select  comp_id, (comp_id=#{compId})as is_check, uuid, param_code, param_name, param_type_id, is_auto, param_src_id, status, creator_id, creator_no, creator,create_date
        from human_hs_pay_table_formula_param
        order by comp_id = #{compId} desc ,comp_id = 'all' desc limit 1000000000000000000) as unionTable
        <where>
            <if test="paramTypeId != null  and paramTypeId != ''"> and param_type_id = #{paramTypeId}</if>
        </where>
        group by param_code
    </select>

    <select id="selectPayTableFormulaParamByCompId" parameterType="String" resultMap="PayTableFormulaParamResult">
        <include refid="selectPayTableFormulaParamVo"/>
        where comp_id = #{compId}
    </select>
    
    <select id="selectPayTableFormulaParamByUuid" parameterType="String" resultMap="PayTableFormulaParamResult">
        <include refid="selectPayTableFormulaParamVo"/>
        where uuid = #{uuid}
    </select>
        
    <insert id="insertPayTableFormulaParam" parameterType="PayTableFormulaParam">
        insert into human_hs_pay_table_formula_param
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="uuid != null">uuid,</if>
            <if test="compId != null">comp_id,</if>
            <if test="paramCode != null">param_code,</if>
            <if test="paramName != null">param_name,</if>
            <if test="paramTypeId != null">param_type_id,</if>
            <if test="isAuto != null">is_auto,</if>
            <if test="paramSrcId != null">param_src_id,</if>
            <if test="status != null">status,</if>
            <if test="creatorId != null">creator_id,</if>
            <if test="creatorNo != null">creator_no,</if>
            <if test="creator != null">creator,</if>
            <if test="createDate != null">create_date,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="uuid != null">#{uuid},</if>
            <if test="compId != null">#{compId},</if>
            <if test="paramCode != null">#{paramCode},</if>
            <if test="paramName != null">#{paramName},</if>
            <if test="paramTypeId != null">#{paramTypeId},</if>
            <if test="isAuto != null">#{isAuto},</if>
            <if test="paramSrcId != null">#{paramSrcId},</if>
            <if test="status != null">#{status},</if>
            <if test="creatorId != null">#{creatorId},</if>
            <if test="creatorNo != null">#{creatorNo},</if>
            <if test="creator != null">#{creator},</if>
            <if test="createDate != null">#{createDate},</if>
         </trim>
    </insert>

    <update id="updatePayTableFormulaParam" parameterType="PayTableFormulaParam">
        update human_hs_pay_table_formula_param
        <trim prefix="SET" suffixOverrides=",">
            <if test="compId != null">comp_id = #{compId},</if>
            <if test="paramCode != null">param_code = #{paramCode},</if>
            <if test="paramName != null">param_name = #{paramName},</if>
            <if test="paramTypeId != null">param_type_id = #{paramTypeId},</if>
            <if test="isAuto != null">is_auto = #{isAuto},</if>
            <if test="paramSrcId != null">param_src_id = #{paramSrcId},</if>
            <if test="status != null">status = #{status},</if>
            <if test="creatorId != null">creator_id = #{creatorId},</if>
            <if test="creatorNo != null">creator_no = #{creatorNo},</if>
            <if test="creator != null">creator = #{creator},</if>
            <if test="createDate != null">create_date = #{createDate},</if>
        </trim>
        where uuid = #{uuid}
    </update>


    <delete id="deletePayTableFormulaParamByCompId" parameterType="String">
        delete from human_hs_pay_table_formula_param where comp_id = #{compId}
    </delete>

    <delete id="deletePayTableFormulaParamByUuids" parameterType="String">
        delete from human_hs_pay_table_formula_param where uuid in 
        <foreach item="uuid" collection="array" open="(" separator="," close=")">
            #{uuid}
        </foreach>
    </delete>
</mapper>