<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jlkj.human.hs.mapper.SocialSecurityMapper">
    
    <resultMap type="SocialSecurity" id="SocialSecurityResult">
        <result property="id"    column="id"    />
        <result property="salaryProjectId"    column="salary_project_id"    />
        <result property="payProCode"    column="pay_pro_code"    />
        <result property="payProName"    column="pay_pro_name"    />
        <result property="comPro"    column="com_pro"    />
        <result property="comMon"    column="com_mon"    />
        <result property="perPro"    column="per_pro"    />
        <result property="perMon"    column="per_mon"    />
        <result property="baseUcl"    column="base_ucl"    />
        <result property="baseLl"    column="base_ll"    />
        <result property="deciBit"    column="deci_bit"    />
        <result property="carryMode"    column="carry_mode"    />
        <result property="payAreaId"    column="pay_area_id"    />
        <result property="effectDate"    column="effect_date"    />
        <result property="version"    column="version"    />
        <result property="creator"    column="creator"    />
        <result property="creatorId"    column="creator_id"    />
        <result property="createDate"    column="create_date"    />
    </resultMap>

    <sql id="selectSocialSecurityVo">
        SELECT id, salary_project_id, com_pro, com_mon, per_pro, per_mon, base_ucl, base_ll, deci_bit, carry_mode, pay_area_id, effect_date, version, creator, creator_id, create_date FROM human_hs_social_security
    </sql>

    <select id="selectSocialSecurityList" parameterType="SocialSecurity" resultMap="SocialSecurityResult">
        <include refid="selectSocialSecurityVo"/>
        <where>
            <if test="date != null ">AND effect_date = #{date} </if>
            <if test="payAreaId != null and payAreaId != ''">AND pay_area_id = #{payAreaId} </if>
            <if test="version != null and version != ''">AND version = #{version} </if>
            <if test="salaryProjectId != null and salaryProjectId != ''">AND salary_project_id = #{salaryProjectId} </if>
        </where>
        ORDER BY version DESC
    </select>
    
    <select id="selectSocialSecurityById" parameterType="String" resultMap="SocialSecurityResult">
        <include refid="selectSocialSecurityVo"/>
        WHERE id = #{id}
    </select>

    <select id="selectSocialSecurityByempNo" parameterType="String" resultMap="SocialSecurityResult">
        SELECT s.id, s.salary_project_id,p.pay_pro_code,pay_pro_name, s.com_pro, s.com_mon, s.per_pro, s.per_mon, s.base_ucl, s.base_ll, s.deci_bit, s.carry_mode, s.pay_area_id, s.effect_date, s.version, s.creator, s.creator_id, s.create_date FROM human_hs_social_security s
        LEFT JOIN human_hs_salary_project_basis p
        ON s.salary_project_id = p.id
        WHERE s.pay_area_id = (SELECT pay_area_id FROM human_hs_social_security_company WHERE comp_id = #{compId})
        AND version =(SELECT MAX(s.version) AS version  FROM human_hs_social_security s
        LEFT JOIN human_hs_social_security_company c ON c.pay_area_id = s.pay_area_id
        WHERE comp_id = #{compId})
    </select>
        
    <insert id="insertSocialSecurity" parameterType="SocialSecurity">
        INSERT INTO human_hs_social_security
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="salaryProjectId != null">salary_project_id,</if>
            <if test="comPro != null">com_pro,</if>
            <if test="comMon != null">com_mon,</if>
            <if test="perPro != null">per_pro,</if>
            <if test="perMon != null">per_mon,</if>
            <if test="baseUcl != null">base_ucl,</if>
            <if test="baseLl != null">base_ll,</if>
            <if test="deciBit != null">deci_bit,</if>
            <if test="carryMode != null">carry_mode,</if>
            <if test="payAreaId != null">pay_area_id,</if>
            <if test="effectDate != null">effect_date,</if>
            <if test="version != null">version,</if>
            <if test="creator != null">creator,</if>
            <if test="creatorId != null">creator_id,</if>
            <if test="createDate != null">create_date,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="salaryProjectId != null">#{salaryProjectId},</if>
            <if test="comPro != null">#{comPro},</if>
            <if test="comMon != null">#{comMon},</if>
            <if test="perPro != null">#{perPro},</if>
            <if test="perMon != null">#{perMon},</if>
            <if test="baseUcl != null">#{baseUcl},</if>
            <if test="baseLl != null">#{baseLl},</if>
            <if test="deciBit != null">#{deciBit},</if>
            <if test="carryMode != null">#{carryMode},</if>
            <if test="payAreaId != null">#{payAreaId},</if>
            <if test="effectDate != null">#{effectDate},</if>
            <if test="version != null">#{version},</if>
            <if test="creator != null">#{creator},</if>
            <if test="creatorId != null">#{creatorId},</if>
            <if test="createDate != null">#{createDate},</if>
         </trim>
    </insert>

    <update id="updateSocialSecurity" parameterType="SocialSecurity">
        UPDATE human_hs_social_security
        <trim prefix="SET" suffixOverrides=",">
            <if test="salaryProjectId != null">salary_project_id = #{salaryProjectId},</if>
            <if test="comPro != null">com_pro = #{comPro},</if>
            <if test="comMon != null">com_mon = #{comMon},</if>
            <if test="perPro != null">per_pro = #{perPro},</if>
            <if test="perMon != null">per_mon = #{perMon},</if>
            <if test="baseUcl != null">base_ucl = #{baseUcl},</if>
            <if test="baseLl != null">base_ll = #{baseLl},</if>
            <if test="deciBit != null">deci_bit = #{deciBit},</if>
            <if test="carryMode != null">carry_mode = #{carryMode},</if>
            <if test="payAreaId != null">pay_area_id = #{payAreaId},</if>
            <if test="effectDate != null">effect_date = #{effectDate},</if>
            <if test="version != null">version = #{version},</if>
            <if test="creator != null">creator = #{creator},</if>
            <if test="creatorId != null">creator_id = #{creatorId},</if>
            <if test="createDate != null">create_date = #{createDate},</if>
        </trim>
        WHERE id = #{id}
    </update>

    <delete id="deleteSocialSecurityById" parameterType="String">
        DELETE FROM human_hs_social_security WHERE id = #{id}
    </delete>

    <select id="selectMaxVersion" parameterType="String" resultType="map">
        SELECT  effect_date effectDate, version  FROM human_hs_social_security WHERE pay_area_id = #{payAreaId} ORDER BY effect_date DESC limit 1
    </select>

    <delete id="deleteSocialSecurityByIds" parameterType="String">
        DELETE FROM human_hs_social_security WHERE id IN
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteSocialSecurityByVersion" parameterType="map">
        DELETE FROM human_hs_social_security WHERE pay_area_id = #{payAreaId} AND version= #{version}
    </delete>

    <select id="selectSocialSecurityListBySalaryProjectId" parameterType="SocialSecurity" resultMap="SocialSecurityResult">
        <include refid="selectSocialSecurityVo"/>
        <where>
            <if test="salaryProjectId != null and salaryProjectId != ''">AND salary_project_id = #{salaryProjectId} </if>
            <if test="payAreaId != null and payAreaId != ''">AND pay_area_id = #{payAreaId} </if>
        </where>
    </select>

    <select id="selectSocialSecurityListByVersion" parameterType="SocialSecurity" resultMap="SocialSecurityResult">
        <include refid="selectSocialSecurityVo"/>
        <where>
            <if test="salaryProjectId != null and salaryProjectId != ''">AND salary_project_id = #{salaryProjectId} </if>
            <if test="payAreaId != null and payAreaId != ''">AND pay_area_id = #{payAreaId} </if>
            <if test="version != null and version != ''">AND version = #{version} </if>
        </where>
    </select>

    <update id="updateSocialSecurityById" parameterType="String">
        UPDATE human_hs_social_security SET effect_date = #{effectDate} WHERE pay_area_id = #{payAreaId} AND version= #{version}
    </update>
</mapper>