<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jlkj.human.hs.mapper.SocialSecurityCompanyMapper">
    
    <resultMap type="SocialSecurityCompany" id="SocialSecurityCompanyResult">
        <result property="id"    column="id"    />
        <result property="payAreaId"    column="pay_area_id"    />
        <result property="compId"    column="comp_id"    />
        <result property="creator"    column="creator"    />
        <result property="creatorNo"    column="creator_no"    />
        <result property="creatorId"    column="creator_id"    />
        <result property="createDate"    column="create_date"    />
    </resultMap>

    <sql id="selectSocialSecurityCompanyVo">
        SELECT id, pay_area_id, comp_id, creator, creator_no, creator_id, create_date FROM human_hs_social_security_company
    </sql>

    <select id="selectSocialSecurityCompanyList" parameterType="SocialSecurityCompany" resultMap="SocialSecurityCompanyResult">
        <include refid="selectSocialSecurityCompanyVo"/>
        <where>  
            <if test="payAreaId != null  and payAreaId != ''"> and pay_area_id = #{payAreaId}</if>
            <if test="compId != null  and compId != ''"> and comp_id = #{compId}</if>
        </where>
    </select>
    
    <select id="selectSocialSecurityCompanyById" parameterType="String" resultMap="SocialSecurityCompanyResult">
        <include refid="selectSocialSecurityCompanyVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertSocialSecurityCompany" parameterType="SocialSecurityCompany">
        INSERT INTO human_hs_social_security_company
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="payAreaId != null">pay_area_id,</if>
            <if test="compId != null">comp_id,</if>
            <if test="creator != null">creator,</if>
            <if test="creatorNo != null">creator_no,</if>
            <if test="creatorId != null">creator_id,</if>
            <if test="createDate != null">create_date,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="payAreaId != null">#{payAreaId},</if>
            <if test="compId != null">#{compId},</if>
            <if test="creator != null">#{creator},</if>
            <if test="creatorNo != null">#{creatorNo},</if>
            <if test="creatorId != null">#{creatorId},</if>
            <if test="createDate != null">#{createDate},</if>
         </trim>
    </insert>

    <update id="updateSocialSecurityCompany" parameterType="SocialSecurityCompany">
        UPDATE human_hs_social_security_company
        <trim prefix="SET" suffixOverrides=",">
            <if test="payAreaId != null">pay_area_id = #{payAreaId},</if>
            <if test="compId != null">comp_id = #{compId},</if>
            <if test="creator != null">creator = #{creator},</if>
            <if test="creatorNo != null">creator_no = #{creatorNo},</if>
            <if test="creatorId != null">creator_id = #{creatorId},</if>
            <if test="createDate != null">create_date = #{createDate},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSocialSecurityCompanyById" parameterType="String">
        DELETE FROM human_hs_social_security_company where id = #{id}
    </delete>

    <delete id="deleteSocialSecurityCompanyByIds" parameterType="String">
        DELETE FROM human_hs_social_security_company where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>