<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jlkj.human.ex.mapper.QuestionsMapper">
    
    <resultMap type="Questions" id="QuestionsResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="images"    column="images"    />
        <result property="type"    column="type"    />
        <result property="answer"    column="answer"    />
        <result property="analysis"    column="analysis"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="isEnable"    column="is_enable"    />
        <result property="deptid"    column="deptId"    />
        <result property="compId"    column="comp_id"    />
        <result property="labels"    column="labels"    />
        <result property="banks"    column="banks"    />
    </resultMap>

    <sql id="selectQuestionsVo">
        SELECT id, name, images, type, answer, analysis, create_by, create_time, update_by, update_time, is_enable, deptId, comp_id, labels, banks FROM human_ex_questions
    </sql>

    <select id="selectQuestionsList" parameterType="Questions" resultMap="QuestionsResult">
        <include refid="selectQuestionsVo"/>
        <where>  
            <if test="name != null  and name != ''"> AND name LIKE concat('%', #{name}, '%')</if>
            <if test="images != null  and images != ''"> AND images = #{images}</if>
            <if test="type != null  and type != ''"> AND type = #{type}</if>
            <if test="answer != null  and answer != ''"> AND answer = #{answer}</if>
            <if test="analysis != null  and analysis != ''"> AND analysis = #{analysis}</if>
            <if test="isEnable != null "> AND is_enable = #{isEnable}</if>
            <if test="deptid != null "> AND deptId = #{deptid}</if>
            <if test="compId != null  and compId != ''"> AND comp_id = #{compId}</if>
            <if test="labels != null  and labels != ''"> AND labels = #{labels}</if>
            <if test="banks != null  and banks != ''"> AND banks = #{banks}</if>
        </where>
    </select>
    
    <select id="selectQuestionsById" parameterType="Long" resultMap="QuestionsResult">
        <include refid="selectQuestionsVo"/>
        WHERE id = #{id}
    </select>
        
    <insert id="insertQuestions" parameterType="Questions" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO human_ex_questions
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="images != null">images,</if>
            <if test="type != null">type,</if>
            <if test="answer != null">answer,</if>
            <if test="analysis != null">analysis,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="isEnable != null">is_enable,</if>
            <if test="deptid != null">deptId,</if>
            <if test="compId != null">comp_id,</if>
            <if test="labels != null">labels,</if>
            <if test="banks != null">banks,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="images != null">#{images},</if>
            <if test="type != null">#{type},</if>
            <if test="answer != null">#{answer},</if>
            <if test="analysis != null">#{analysis},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="isEnable != null">#{isEnable},</if>
            <if test="deptid != null">#{deptid},</if>
            <if test="compId != null">#{compId},</if>
            <if test="labels != null">#{labels},</if>
            <if test="banks != null">#{banks},</if>
         </trim>
    </insert>

    <update id="updateQuestions" parameterType="Questions">
        UPDATE human_ex_questions
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="images != null">images = #{images},</if>
            <if test="type != null">type = #{type},</if>
            <if test="answer != null">answer = #{answer},</if>
            <if test="analysis != null">analysis = #{analysis},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="isEnable != null">is_enable = #{isEnable},</if>
            <if test="deptid != null">deptId = #{deptid},</if>
            <if test="compId != null">comp_id = #{compId},</if>
            <if test="labels != null">labels = #{labels},</if>
            <if test="banks != null">banks = #{banks},</if>
        </trim>
        WHERE id = #{id}
    </update>

    <delete id="deleteQuestionsById" parameterType="Long">
        DELETE FROM human_ex_questions WHERE id = #{id}
    </delete>

    <delete id="deleteQuestionsByIds" parameterType="String">
        DELETE FROM human_ex_questions WHERE id IN
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>