<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jlkj.product.oi.mapper.ProductionSteamPerformanceMapper">

    <resultMap id="BaseResultMap" type="com.jlkj.product.oi.domain.ProductionSteamPerformance">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="boilerNo" column="boiler_no" jdbcType="VARCHAR"/>
            <result property="shift" column="shift" jdbcType="VARCHAR"/>
            <result property="classes" column="classes" jdbcType="VARCHAR"/>
            <result property="statTime" column="stat_time" jdbcType="TIMESTAMP"/>
            <result property="yield" column="yield" jdbcType="DECIMAL"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,boiler_no,shift,
        classes,stat_time,yield

    </sql>

    <select id="getHomeProductionSteamPerformanceYieldListData" parameterType="com.jlkj.product.oi.dto.productionsteamperformance.ListHomeProductionSteamPerformanceYieldDTO" resultType="com.jlkj.product.oi.vo.productionsteamperformance.ListHomeProductionSteamPerformanceYieldVO">
        select
            a.boiler_no,
            sum(a.yield) as yield
        from product_oi_steam_performance a
        where 1=1
          and (#{startDate} = '' or a.stat_time &gt;= case when #{startDate} = '' then null else concat(#{startDate},' 00:00:00') end)
          and (#{endDate} = '' or a.stat_time &lt;= case when #{endDate} = '' then null else concat(#{endDate},' 23:59:59') end)
        group by a.boiler_no
        order by a.boiler_no
    </select>
</mapper>

