<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jlkj.product.oi.mapper.ProductionCokeOvensMapper">

    <resultMap id="BaseResultMap" type="com.jlkj.product.oi.domain.ProductionCokeOvens">
        <id property="id" column="id" jdbcType="VARCHAR"/>
        <result property="accountDate" column="account_date" jdbcType="DATE"/>
        <result property="materialsCode" column="materials_code" jdbcType="VARCHAR"/>
        <result property="materialsName" column="materials_name" jdbcType="VARCHAR"/>
        <result property="outNum" column="out_num" jdbcType="INTEGER"/>
        <result property="theoreticalYield" column="theoretical_yield" jdbcType="DECIMAL"/>
        <result property="dryOutNum" column="dry_out_num" jdbcType="INTEGER"/>
        <result property="dryTheoreticalYield" column="dry_theoretical_yield" jdbcType="DECIMAL"/>
        <result property="wetOutNum" column="wet_out_num" jdbcType="INTEGER"/>
        <result property="wetTheoreticalYield" column="wet_theoretical_yield" jdbcType="DECIMAL"/>
        <result property="throwState" column="throw_state" jdbcType="VARCHAR"/>
        <result property="createUserId" column="create_user_id" jdbcType="VARCHAR"/>
        <result property="createUserName" column="create_user_name" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="modifyUserId" column="modify_user_id" jdbcType="VARCHAR"/>
        <result property="modifyUserName" column="modify_user_name" jdbcType="VARCHAR"/>
        <result property="modifyTime" column="modify_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,account_date,materials_code,
        materials_name,out_num,theoretical_yield,
        dry_out_num,dry_theoretical_yield,wet_out_num,
        wet_theoretical_yield,throw_state,create_user_id,
        create_user_name,create_time,modify_user_id,
        modify_user_name,modify_time
    </sql>

    <select id="getProductionCokeOvensPageData" parameterType="com.jlkj.product.oi.dto.productioncokeovens.PageProductionCokeOvensDTO" resultType="com.jlkj.product.oi.vo.productioncokeovens.PageProductionCokeOvensVO">
        select
            a.id,
            case when ISNULL(a.account_date) then '' else DATE_FORMAT(a.account_date,'%Y-%m-%d') end as account_date,
            a.materials_code,
            a.materials_name,
            a.out_num,
            a.theoretical_yield,
            a.dry_out_num,
            a.dry_theoretical_yield,
            a.wet_out_num,
            a.wet_theoretical_yield,
            a.throw_state,
            a.create_user_id,
            a.create_user_name,
            case when ISNULL(a.create_time) then '' else DATE_FORMAT(a.create_time,'%Y-%m-%d %H:%i:%s') end as create_time,
            a.modify_user_id,
            a.modify_user_name,
            case when ISNULL(a.modify_time) then '' else DATE_FORMAT(a.modify_time,'%Y-%m-%d %H:%i:%s') end as modify_time
        from product_oi_coke_ovens a
        where 1=1
          and (#{condition.startDate} = '' or a.account_date &gt;= case when #{condition.startDate} = '' then null else #{condition.startDate} end)
          and (#{condition.endDate} = '' or a.account_date &lt;= case when #{condition.endDate} = '' then null else #{condition.endDate} end)
          and (#{condition.materialsCode} = '' or a.materials_code like concat('%',#{condition.materialsCode},'%'))
        order by ${condition.order} ${condition.orderby}
    </select>

    <select id="getCoalWaterRateData" resultType="com.jlkj.product.oi.vo.productioncokeovens.CoalWaterRateVO">
        select mt FROM `v_quality_ts_record` WHERE coalType = 'F' and send_date = curdate() ORDER BY send_time DESC limit 1
    </select>

    <select id="getProductionCoalConsumeListData" resultType="com.jlkj.product.oi.vo.productioncokeovens.ListProductionCoalConsumeVO">
        select
            a.materials_code as coke_materials_code,
            case when b.materials_code is not null then b.materials_code when d.materials_code is not null then d.materials_code else '' end as coal_materials_code,
            case when b.proportion is not null then round(sum(a.single_hole_production * c.single_consumption * b.proportion * 0.01),0) when d.proportion is not null then round(sum(a.single_hole_production * c.single_consumption * d.proportion * 0.01),0) else 0 end as qty
        from product_oi_output_performance_manual_bake a
        INNER JOIN (
            select b.materials_code,a.quenching_method,a.single_consumption
            from product_oi_information_configuration a
            INNER JOIN materials_mr_code b ON a.materials_code = b.id
        ) c ON a.materials_code = c.materials_code and a.coke_type = c.quenching_method, (
            select a.materials_code,a.materials_name,case when a.coal_tower_weight = 0 then 0 else a.material_weight / a.coal_tower_weight * 100 end as proportion
            from (
                select a.material_code as materials_code,a.material_name as materials_name,c.coal_tower_weight,sum(a.material_weight) as material_weight
                from product_oi_configure_coal_species_performance_detail a
                INNER JOIN product_oi_configure_coal_species_performance c ON a.main_id = c.id
                INNER JOIN (
                    select max(start_time) as start_time
                    from product_oi_configure_coal_species_performance a,
                    (select convert(dict_value,SIGNED) as dict_value from sys_dict_data where dict_label='倒推时间') as b
                    where a.start_time &gt;= concat(DATE_FORMAT(date_add(date_add(now(),interval -1 day), interval -1 * b.dict_value hour),'%Y-%m-%d'),' 20:00:00')
                    and a.start_time &lt; concat(DATE_FORMAT(now(),'%Y-%m-%d'),' 20:00:00')
                ) as b ON c.start_time = b.start_time
                group by a.material_code,a.material_name,c.coal_tower_weight
            ) as a
        ) b, (
            select b.materials_code,b.materials_name,a.proportion
            from product_oi_plan_config_coke_detail a
            INNER JOIN materials_mr_code b ON a.coal_type_id = b.id
            INNER JOIN (
                select a.id
                from product_oi_plan_config_coke a
                INNER JOIN (
                    select max(plan_start_time) as plan_start_time from product_oi_plan_config_coke a,
                    (select convert(dict_value,SIGNED) as dict_value from sys_dict_data where dict_label='倒推时间') as b
                    where a.plan_start_time &gt;= concat(DATE_FORMAT(date_add(date_add(now(),interval -1 day), interval -1 * b.dict_value hour),'%Y-%m-%d'),' 20:00:00')
                      and a.plan_start_time &lt; concat(DATE_FORMAT(now(),'%Y-%m-%d'),' 20:00:00')
                ) as b ON a.plan_start_time = b.plan_start_time
            ) c ON a.plan_id = c.id
        ) d
        where concat(DATE_FORMAT(production_date,'%Y-%m-%d'),' ',DATE_FORMAT(actual_production_time,'%H:%i:%s')) &gt;= concat(DATE_FORMAT(date_add(now(), interval -1 day),'%Y-%m-%d'),' 20:00:00')
          and concat(DATE_FORMAT(production_date,'%Y-%m-%d'),' ',DATE_FORMAT(actual_production_time,'%H:%i:%s')) &lt; concat(DATE_FORMAT(now(),'%Y-%m-%d'),' 20:00:00')
        group by a.materials_code,b.materials_code,b.proportion,d.materials_code,d.proportion
    </select>
    <select id="getProductionCokeOvensAccountListData" resultType="com.jlkj.product.oi.vo.productioncokeovens.ListProductionCokeOvensAccountVO">
        select *
        from (
                 select
                     concat(DATE_FORMAT(a.account_date,'%Y%m%d'),'2000') as castDate,
                     planStoveNumber,
                     realStoveNumber,
                     totalCoOutputA,
                     totalCoOutputB,
                     totalCoOutputC,
                     dryStoveNumberA,
                     moistStoveNumberA,
                     dryStoveNumberB,
                     moistStoveNumberB,
                     dryStoveNumberC,
                     moistStoveNumberC,
                     ifnull(nutCoOutput, 0) as nutCoOutput,
                     ifnull(coFinesOutput,0) as coFinesOutput,
                     totalCoOutputA - case when (totalCoOutputA + totalCoOutputB + totalCoOutputC) = 0 then 0 else (totalCoOutputA / (totalCoOutputA + totalCoOutputB + totalCoOutputC)) * (ifnull(nutCoOutput, 0) + ifnull(coFinesOutput,0)) end as ferroCoOutputA,
                     totalCoOutputB - case when (totalCoOutputA + totalCoOutputB + totalCoOutputC) = 0 then 0 else (totalCoOutputB / (totalCoOutputA + totalCoOutputB + totalCoOutputC)) * (ifnull(nutCoOutput, 0) + ifnull(coFinesOutput,0)) end as ferroCoOutputB,
                     totalCoOutputC - case when (totalCoOutputA + totalCoOutputB + totalCoOutputC) = 0 then 0 else (totalCoOutputC / (totalCoOutputA + totalCoOutputB + totalCoOutputC)) * (ifnull(nutCoOutput, 0) + ifnull(coFinesOutput,0)) end as ferroCoOutputC
                 from (
                          select DATE_FORMAT(now(),'%Y-%m-%d') as account_date,
                                 count(single_hole_production) as planStoveNumber,
                                 count(single_hole_production) as realStoveNumber,
                                 sum(case when materials_code = '0150104' then single_hole_production else 0 end) as totalCoOutputA,
                                 sum(case when materials_code = '0150105' then single_hole_production else 0 end) as totalCoOutputB,
                                 sum(case when materials_code = '0150106' then single_hole_production else 0 end) as totalCoOutputC,
                                 sum(case when materials_code = '0150104' and coke_type = 1 then 1 else 0 end) as dryStoveNumberA,
                                 sum(case when materials_code = '0150104' and coke_type = 2 then 1 else 0 end) as moistStoveNumberA,
                                 sum(case when materials_code = '0150105' and coke_type = 1 then 1 else 0 end) as dryStoveNumberB,
                                 sum(case when materials_code = '0150105' and coke_type = 2 then 1 else 0 end) as moistStoveNumberB,
                                 sum(case when materials_code = '0150106' and coke_type = 1 then 1 else 0 end) as dryStoveNumberC,
                                 sum(case when materials_code = '0150106' and coke_type = 2 then 1 else 0 end) as moistStoveNumberC
                          from product_oi_output_performance_manual_bake
                          where concat(DATE_FORMAT(production_date,'%Y-%m-%d'),' ',DATE_FORMAT(actual_production_time,'%H:%i:%s')) &gt;= concat(DATE_FORMAT(date_add(now(), interval -1 day),'%Y-%m-%d'),' 20:00:00')
                          and concat(DATE_FORMAT(production_date,'%Y-%m-%d'),' ',DATE_FORMAT(actual_production_time,'%H:%i:%s')) &lt;= concat(DATE_FORMAT(now(),'%Y-%m-%d'),' 20:00:00')
                      ) as a
                          LEFT JOIN
                      (
                          select DATE_FORMAT(now(),'%Y-%m-%d') as account_date,
                                 sum(production_performance_jd) as nutCoOutput,
                                 sum(production_performance_jf) as coFinesOutput
                          from (
                              select sum(ifnull(a.complete_pound_num,0)) as production_performance_jd,
                                     0 as production_performance_jf
                              from logistics_wv_trans_actual_nut a
                              where a.car_send_date &gt;= concat(DATE_FORMAT(date_add(now(), interval -1 day),'%Y-%m-%d'),' 20:00:00')
                                and a.car_send_date &lt;= concat(DATE_FORMAT(now(),'%Y-%m-%d'),' 20:00:00')
                              union all
                              select 0 as production_performance_jd,
                                     sum(ifnull(a.complete_pound_num,0)) as production_performance_jf
                              from logistics_wv_trans_actual_fines a
                              where a.car_send_date &gt;= concat(DATE_FORMAT(date_add(now(), interval -1 day),'%Y-%m-%d'),' 20:00:00')
                                and a.car_send_date &lt;= concat(DATE_FORMAT(now(),'%Y-%m-%d'),' 20:00:00')
                          ) as a
                      ) b ON a.account_date = b.account_date
             ) as a,
             (
                 select
                     sum(case when materials_id = '0150104' then inventory else 0 end) as totalCoStoreA,
                     sum(case when materials_id = '0150104' then inventory else 0 end) as ferroCoStoreA,
                     sum(case when materials_id = '0150105' then inventory else 0 end) as totalCoStoreB,
                     sum(case when materials_id = '0150105' then inventory else 0 end) as ferroCoStoreB,
                     sum(case when materials_id = '0150106' then inventory else 0 end) as totalCoStoreC,
                     sum(case when materials_id = '0150106' then inventory else 0 end) as ferroCoStoreC,
                     sum(case when materials_id = '0150301' then inventory else 0 end) as nutCoStore,
                     sum(case when materials_id = '0150201' then inventory else 0 end) as coFinesStore,
                     0 as waterCoFinesStore,
                     0 as sulgaoStore
                 from materials_mr_coke_stock
             ) as b
    </select>
</mapper>

