<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jlkj.product.oi.mapper.ProductionPlanPowerGenerationDateMapper">

    <resultMap id="BaseResultMap" type="com.jlkj.product.oi.domain.ProductionPlanPowerGenerationDate">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="planYear" column="plan_year" jdbcType="INTEGER"/>
            <result property="planMonth" column="plan_month" jdbcType="INTEGER"/>
            <result property="planDate" column="plan_date" jdbcType="DATE"/>
            <result property="targetItemId" column="target_item_id" jdbcType="VARCHAR"/>
            <result property="targetItemName" column="target_item_name" jdbcType="VARCHAR"/>
            <result property="targetItemValue" column="target_item_value" jdbcType="DECIMAL"/>
            <result property="measuresAndGoals" column="measures_and_goals" jdbcType="VARCHAR"/>
            <result property="responsiblePerson" column="responsible_person" jdbcType="VARCHAR"/>
            <result property="createUserId" column="create_user_id" jdbcType="VARCHAR"/>
            <result property="createUserName" column="create_user_name" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="modifyUserId" column="modify_user_id" jdbcType="VARCHAR"/>
            <result property="modifyUserName" column="modify_user_name" jdbcType="VARCHAR"/>
            <result property="modifyTime" column="modify_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,plan_year,plan_month,
        plan_date,target_item_id,target_item_name,
        target_item_value,measures_and_goals,responsible_person,
        create_user_id,create_user_name,create_time,
        modify_user_id,modify_user_name,modify_time
    </sql>

    <select id="getList" parameterType="java.lang.String" resultType="java.util.Map">
        ${sql}
    </select>

    <select id="getPowerDateRelationRepair" parameterType="java.lang.Integer" resultType="com.jlkj.product.oi.domain.ProductionPlanOutputDate">
        select  a.*
        from product_oi_plan_power_generation_date a
                 INNER JOIN product_oi_plan_repair b on DATE_FORMAT(CONCAT(a.plan_year,'-',a.plan_month,'-',a.plan_date),'%Y-%m-%d') BETWEEN b.plan_start_date and b.plan_end_date
        where b.is_affect_output = 1 and b.repair_type_id = 2 and a.plan_year = ${year}
    </select>

    <select id="getPowerDateWithMonthRelationRepair" parameterType="java.lang.Integer" resultType="com.jlkj.product.oi.domain.ProductionPlanOutputDate">
        select  a.*
        from product_oi_plan_power_generation_date a
                 INNER JOIN product_oi_plan_repair b on DATE_FORMAT(CONCAT(a.plan_year,'-',a.plan_month,'-',a.plan_date),'%Y-%m-%d') BETWEEN b.plan_start_date and b.plan_end_date
        where b.is_affect_output = 1 and b.repair_type_id = 2 and a.plan_year = ${year} and a.plan_month = ${month}
    </select>
</mapper>
