<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jlkj.product.oi.mapper.ProductionPowerListPerformanceMapper">
    <resultMap id="BaseResultMap" type="com.jlkj.product.oi.domain.ProductionPowerListPerformanceEntity">
        <id property="id" column="id" jdbcType="VARCHAR"/>
        <result property="turbineNo" column="turbine_no" jdbcType="VARCHAR"/>
        <result property="shift" column="shift" jdbcType="VARCHAR"/>
        <result property="classes" column="classes" jdbcType="VARCHAR"/>
        <result property="statTime" column="stat_time" jdbcType="TIMESTAMP"/>
        <result property="yield" column="yield" jdbcType="DECIMAL"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,turbine_no,shift,
        classes,stat_time,yield
    </sql>

    <select id="getListPage" parameterType="com.jlkj.product.oi.dto.productionpowerlistperformance.ProductionPowerYieldListPerformanceDTO" resultType="java.util.Map">
        SELECT
        DATE_FORMAT(e_count_date_class,'%Y-%m-%d') AS e_count_date,
        dict_value  AS type,
        dict_label  AS generator_no,
        ROUND(IFNULL(pro_con_qty/10000, 0),2) AS qty
        FROM v_energy_consume_output
        WHERE
        dict_value = '发电量'
        <if test="condition.startDate != null and condition.startDate != ''">
            AND e_count_date_class<![CDATA[ >= ]]> #{condition.startDate}
        </if>
        <if test="condition.endDate != null and condition.endDate != ''">
            AND e_count_date_class <![CDATA[ <= ]]> #{condition.endDate}
        </if>
        order by ${condition.order} ${condition.orderby}
    </select>


</mapper>
