<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jlkj.product.oi.mapper.ProductionOutputPerformanceManualBakeMapper">

    <resultMap id="BaseResultMap" type="com.jlkj.product.oi.domain.ProductionOutputPerformanceManualBake">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="shiftName" column="shift_name" jdbcType="VARCHAR"/>
            <result property="className" column="class_name" jdbcType="VARCHAR"/>
            <result property="cokeOvenNumber" column="coke_oven_number" jdbcType="INTEGER"/>
            <result property="carbonizationChamberNumber" column="carbonization_chamber_number" jdbcType="INTEGER"/>
            <result property="productionDate" column="production_date" jdbcType="DATE"/>
            <result property="planningProductionTime" column="planning_production_time" jdbcType="TIME"/>
            <result property="actualProductionTime" column="actual_production_time" jdbcType="TIME"/>
            <result property="cokeCurrent" column="coke_current" jdbcType="DECIMAL"/>
            <result property="cokeType" column="coke_type" jdbcType="SMALLINT"/>
            <result property="planningRunCycle" column="planning_run_cycle" jdbcType="VARCHAR"/>
            <result property="actualRunCycle" column="actual_run_cycle" jdbcType="VARCHAR"/>
            <result property="singleHoleProduction" column="single_hole_production" jdbcType="DECIMAL"/>
            <result property="coalPlanNumber" column="coal_plan_number" jdbcType="VARCHAR"/>
            <result property="materialsCode" column="materials_code" jdbcType="VARCHAR"/>
            <result property="materialsName" column="materials_name" jdbcType="VARCHAR"/>
            <result property="createUserId" column="create_user_id" jdbcType="VARCHAR"/>
            <result property="createUserName" column="create_user_name" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,shift_name,class_name,
        coke_oven_number,carbonization_chamber_number,production_date,
        planning_production_time,actual_production_time,coke_current,
        coke_type,planning_run_cycle,actual_run_cycle,
        single_hole_production,coal_plan_number,materials_code,
        materials_name,create_user_id,create_user_name,
        create_time
    </sql>

    <select id="getProductionOutputPerformanceManualBakePageData" parameterType="com.jlkj.product.oi.dto.productionoutputperformancemanualbake.InsertProductionOutputPerformanceManualBakeDTO" resultType="com.jlkj.product.oi.vo.productionoutputperformancemanualbake.PageProductionOutputPerformanceManualBakeVO">
        select a.id,
               a.shift_name,
               a.class_name,
               a.coke_oven_number,
               a.carbonization_chamber_number,
               case
                   when ISNULL(a.production_date) then ''
                   else DATE_FORMAT(a.production_date, '%Y-%m-%d') end          as production_date,
               case
                   when ISNULL(a.planning_production_time) then ''
                   else DATE_FORMAT(a.planning_production_time, '%H:%i:%s') end as planning_production_time,
               case
                   when ISNULL(a.actual_production_time) then ''
                   else concat(DATE_FORMAT(a.production_date, '%Y-%m-%d'), ' ', DATE_FORMAT(a.actual_production_time, '%H:%i:%s')) end   as actual_production_time,
               a.coke_current,
               a.coke_type,
               a.planning_run_cycle,
               a.actual_run_cycle,
               a.single_hole_production,
               case
                   when ISNULL(b.planning_load_coal_time) then ''
                   else DATE_FORMAT(b.planning_load_coal_time, '%H:%i:%s') end as planning_load_coal_time,
               case
                   when ISNULL(b.actual_load_coal_time) then ''
                   else DATE_FORMAT(b.actual_load_coal_time, '%H:%i:%s') end   as actual_load_coal_time,
               b.coal_current,
               b.Loading_coal as loading_coal,
               a.materials_name,
               b.coal_tower_number,
               case
                   when ISNULL(c.planning_load_coal_time) then ''
                   else DATE_FORMAT(c.planning_load_coal_time, '%H:%i:%s') end as next_planning_load_coal_time,
               case
                   when ISNULL(c.actual_load_coal_time) then ''
                   else DATE_FORMAT(c.actual_load_coal_time, '%H:%i:%s') end   as next_actual_load_coal_time,
               c.coal_current as next_coal_current,
               c.Loading_coal as next_loading_coal,
               c.coal_tower_number as next_coal_tower_number,
               case
                   when ISNULL(a.actual_production_end_time) then ''
                   else DATE_FORMAT(a.actual_production_end_time, '%Y-%m-%d %H:%i:%s') end as actual_production_end_time
        from t_production_output_performance_manual_bake a
                 INNER JOIN t_production_output_performance_manual_coal b ON a.coal_record_id = b.id
                 LEFT JOIN t_production_output_performance_manual_coal c ON a.next_coal_record_id = c.id
        where (#{condition.shiftName} = '' or a.shift_name = #{condition.shiftName})
          and (#{condition.className} = '' or a.class_name = #{condition.className})
          and (#{condition.cokeOvenNumber} = 0 or a.coke_oven_number = #{condition.cokeOvenNumber})
          and (#{condition.carbonizationChamberNumber} = 0 or a.carbonization_chamber_number = #{condition.carbonizationChamberNumber})
          and (#{condition.startDate} = '' or a.production_date &gt;= case when #{condition.startDate} = '' then null else #{condition.startDate} end)
          and (#{condition.endDate} = '' or a.production_date &lt;= case when #{condition.endDate} = '' then null else #{condition.endDate} end)
        order by ${condition.order} ${condition.orderby}
    </select>

    <select id="getCurrentCokeLevelCodeData" parameterType="com.jlkj.product.oi.dto.productionoutputperformancemanualbake.InsertProductionOutputPerformanceManualBakeDTO" resultType="com.jlkj.product.oi.vo.productionoutputperformancemanualbake.CurrentCokeLevelCodeVO">
        select a.coal_level_materials_code as coke_level_materials_code,e.materials_name as coke_level_materials_name,c.plan_number,a.id,d.start_time as coal_detail_start_time
        from t_production_configure_coal_species_performance a
                 INNER JOIN t_production_configure_coal_species_performance_detail d ON a.id = d.main_id
                 INNER JOIN (
            select max(b.start_time) as start_time
            from t_production_configure_coal_species_performance a
                     INNER JOIN t_production_configure_coal_species_performance_detail b ON a.id = b.main_id,
                 (select convert(dict_value,SIGNED) as dict_value from t_sys_dict_data where dict_label='倒推时间') as b
            where b.start_time &lt;= date_add(STR_TO_DATE(concat(#{productionDate},' ',#{actualProductionTime}), '%Y-%m-%d %H:%i:%s'), interval -1 * b.dict_value hour)
        ) as b ON d.start_time = b.start_time
                 INNER JOIN t_production_plan_config_coke c ON a.plan_id = c.id and c.plan_state != 1
        INNER JOIN t_materials_code e ON a.coal_level_materials_code = e.materials_code and e.delete_flag = 0
        group by a.coal_level_materials_code,e.materials_name,c.plan_number,a.id,d.start_time
    </select>
</mapper>
