<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jlkj.human.hd.mapper.AttendanceGatherMapper">

    <resultMap id="BaseResultMap" type="com.jlkj.human.hd.domain.AttendanceGather">
            <id property="uuid" column="uuid" jdbcType="VARCHAR"/>
            <result property="year" column="year" jdbcType="VARCHAR"/>
            <result property="month" column="month" jdbcType="VARCHAR"/>
            <result property="dueAttDuty" column="due_att_duty" jdbcType="DECIMAL"/>
            <result property="dueAttHou" column="due_att_hou" jdbcType="DECIMAL"/>
            <result property="shoAttDuty" column="sho_att_duty" jdbcType="DECIMAL"/>
            <result property="shoAttHou" column="sho_att_hou" jdbcType="DECIMAL"/>
            <result property="actAttDuty" column="act_att_duty" jdbcType="DECIMAL"/>
            <result property="actAttHou" column="act_att_hou" jdbcType="DECIMAL"/>
            <result property="lateNum" column="late_num" jdbcType="INTEGER"/>
            <result property="leaNum" column="lea_num" jdbcType="INTEGER"/>
            <result property="holDuty" column="hol_duty" jdbcType="DECIMAL"/>
            <result property="holHou" column="hol_hou" jdbcType="DECIMAL"/>
            <result property="truDuty" column="tru_duty" jdbcType="DECIMAL"/>
            <result property="truHou" column="tru_hou" jdbcType="DECIMAL"/>
            <result property="befEntDuty" column="bef_ent_duty" jdbcType="DECIMAL"/>
            <result property="befEntHou" column="bef_ent_hou" jdbcType="DECIMAL"/>
            <result property="bigNig" column="big_nig" jdbcType="INTEGER"/>
            <result property="smaNig" column="sma_nig" jdbcType="INTEGER"/>
            <result property="aftEntDuty" column="aft_ent_duty" jdbcType="DECIMAL"/>
            <result property="aftEntHou" column="aft_ent_hou" jdbcType="DECIMAL"/>
            <result property="savHou" column="sav_hou" jdbcType="VARCHAR"/>
            <result property="empId" column="emp_id" jdbcType="VARCHAR"/>
            <result property="compId" column="comp_id" jdbcType="VARCHAR"/>
            <result property="creator" column="creator" jdbcType="VARCHAR"/>
            <result property="creatorId" column="creator_id" jdbcType="VARCHAR"/>
            <result property="createDate" column="create_date" jdbcType="TIMESTAMP"/>
            <result property="overTimeHou" column="over_time_hou" jdbcType="DECIMAL"/>
            <result property="restHou" column="rest_hou" jdbcType="DECIMAL"/>
            <result property="bigSmaNig" column="big_sma_nig" jdbcType="INTEGER"/>
            <result property="resHou" column="res_hou" jdbcType="DECIMAL"/>
            <result property="empNo" column="emp_no" jdbcType="VARCHAR"/>
            <result property="postId" column="post_id" jdbcType="VARCHAR"/>
            <result property="postName" column="post_name" jdbcType="VARCHAR"/>
            <result property="empName" column="emp_name" jdbcType="VARCHAR"/>
            <result property="updDueAttDuty" column="upd_due_att_duty" jdbcType="DECIMAL"/>
            <result property="updDueAttHou" column="upd_due_att_hou" jdbcType="DECIMAL"/>
            <result property="updShoAttDuty" column="upd_sho_att_duty" jdbcType="DECIMAL"/>
            <result property="updShoAttHou" column="upd_sho_att_hou" jdbcType="DECIMAL"/>
            <result property="updActAttDuty" column="upd_act_att_duty" jdbcType="DECIMAL"/>
            <result property="updActAttHou" column="upd_act_att_hou" jdbcType="DECIMAL"/>
    </resultMap>

    <sql id="Base_Column_List">
        uuid,emp_no,emp_name,
        post_name,late_num,lea_num,
        big_nig,sma_nig,big_sma_nig,
        bef_ent_duty,aft_ent_duty,sav_hou,
        tru_duty,due_att_duty,act_att_duty,
        sum(leaveOfAbsence) leaveOfAbsence,
        sum(sickLeave) sickLeave,
        sum(workInjuryLeave) workInjuryLeave,
        sum(marriageLeave) marriageLeave,
        sum(maternityLeave) maternityLeave,
        sum(bereavementLeave) bereavementLeave,
        sum(homeLeave) homeLeave,
        sum(commonLeave) commonLeave,
        sum(annualLeave) annualLeave,
        sum(nursingLeave) nursingLeave,
        sum(antiFamilyLeave) antiFamilyLeave,
        sum(outsideLeave) outsideLeave,
        sum(parentalLeave) parentalLeave,
        sum(delayedOvertime) delayedOvertime,
        sum(overtimeOnRestDays) overtimeOnRestDays,
        sum(overtimeOnStatutoryHolidays) overtimeOnStatutoryHolidays
    </sql>
    <sql id="Base_Column_List1">
        a.uuid,a.emp_no,a.emp_name,
        a.post_name,a.late_num,a.lea_num,
        a.big_nig,a.sma_nig,a.big_sma_nig,
        b.is_hol_type,b.hol_ove_type,b.hour_num,
        a.bef_ent_duty,a.aft_ent_duty,a.sav_hou,
        a.tru_duty,a.due_att_duty,a.act_att_duty,
    </sql>

    <select id="selectJoinList" resultType="com.jlkj.human.hd.dto.AttendanceGatherDTO">
        SELECT
        <include refid="Base_Column_List" />
        FROM
        (SELECT
        <include refid="Base_Column_List1" />
        CASE WHEN  b.is_hol_type = '1' AND b.hol_ove_type = '01' THEN b.hour_num/8 END AS leaveOfAbsence ,
        CASE WHEN  b.is_hol_type = '1' AND b.hol_ove_type = '02' THEN b.hour_num/8 END AS sickLeave,
        CASE WHEN  b.is_hol_type = '1' AND b.hol_ove_type = '03' THEN b.hour_num/8 END AS workInjuryLeave,
        CASE WHEN  b.is_hol_type = '1' AND b.hol_ove_type = '04' THEN b.hour_num/8 END AS marriageLeave,
        CASE WHEN  b.is_hol_type = '1' AND b.hol_ove_type = '05' THEN b.hour_num/8 END AS maternityLeave,
        CASE WHEN  b.is_hol_type = '1' AND b.hol_ove_type = '06' THEN b.hour_num/8 END AS bereavementLeave,
        CASE WHEN  b.is_hol_type = '1' AND b.hol_ove_type = '07' THEN b.hour_num/8 END AS homeLeave,
        CASE WHEN  b.is_hol_type = '1' AND b.hol_ove_type = '08' THEN b.hour_num/8 END AS commonLeave,
        CASE WHEN  b.is_hol_type = '1' AND b.hol_ove_type = '09' THEN b.hour_num/8 END AS annualLeave,
        CASE WHEN  b.is_hol_type = '1' AND b.hol_ove_type = '10' THEN b.hour_num/8 END AS nursingLeave,
        CASE WHEN  b.is_hol_type = '1' AND b.hol_ove_type = '11' THEN b.hour_num/8 END AS antiFamilyLeave,
        CASE WHEN  b.is_hol_type = '1' AND b.hol_ove_type = '12' THEN b.hour_num/8 END AS outsideLeave,
        CASE WHEN  b.is_hol_type = '1' AND b.hol_ove_type = '13' THEN b.hour_num/8 END AS parentalLeave,
        CASE WHEN  b.is_hol_type = '0' AND b.hol_ove_type = '1' THEN b.hour_num/8 END AS delayedOvertime,
        CASE WHEN  b.is_hol_type = '0' AND b.hol_ove_type = '2' THEN b.hour_num/8 END AS overtimeOnRestDays,
        CASE WHEN  b.is_hol_type = '0' AND b.hol_ove_type = '3' THEN b.hour_num/8 END AS overtimeOnStatutoryHolidays
        FROM human_hd_attendance_gather a
                 LEFT JOIN human_hd_over_time b
                           ON a.emp_no = b.emp_no
        WHERE a.comp_id = #{compId} AND a.emp_no = #{empNo} AND a.year = #{year} AND a.month = #{month}) AS t1
        GROUP BY
        uuid,emp_no,emp_name,
        post_name,late_num,lea_num,
        big_nig,sma_nig,big_sma_nig,
        bef_ent_duty,aft_ent_duty,sav_hou,
        tru_duty,due_att_duty,act_att_duty
    </select>

    <select id="selectCompJoinList" resultType="com.jlkj.human.hd.dto.AttendanceGatherDTO">
        SELECT
        <include refid="Base_Column_List" />
        FROM
        (SELECT
        <include refid="Base_Column_List1" />
        CASE WHEN  b.is_hol_type = '1' AND b.hol_ove_type = '01' THEN b.hour_num/8 END AS leaveOfAbsence ,
        CASE WHEN  b.is_hol_type = '1' AND b.hol_ove_type = '02' THEN b.hour_num/8 END AS sickLeave,
        CASE WHEN  b.is_hol_type = '1' AND b.hol_ove_type = '03' THEN b.hour_num/8 END AS workInjuryLeave,
        CASE WHEN  b.is_hol_type = '1' AND b.hol_ove_type = '04' THEN b.hour_num/8 END AS marriageLeave,
        CASE WHEN  b.is_hol_type = '1' AND b.hol_ove_type = '05' THEN b.hour_num/8 END AS maternityLeave,
        CASE WHEN  b.is_hol_type = '1' AND b.hol_ove_type = '06' THEN b.hour_num/8 END AS bereavementLeave,
        CASE WHEN  b.is_hol_type = '1' AND b.hol_ove_type = '07' THEN b.hour_num/8 END AS homeLeave,
        CASE WHEN  b.is_hol_type = '1' AND b.hol_ove_type = '08' THEN b.hour_num/8 END AS commonLeave,
        CASE WHEN  b.is_hol_type = '1' AND b.hol_ove_type = '09' THEN b.hour_num/8 END AS annualLeave,
        CASE WHEN  b.is_hol_type = '1' AND b.hol_ove_type = '10' THEN b.hour_num/8 END AS nursingLeave,
        CASE WHEN  b.is_hol_type = '1' AND b.hol_ove_type = '11' THEN b.hour_num/8 END AS antiFamilyLeave,
        CASE WHEN  b.is_hol_type = '1' AND b.hol_ove_type = '12' THEN b.hour_num/8 END AS outsideLeave,
        CASE WHEN  b.is_hol_type = '1' AND b.hol_ove_type = '13' THEN b.hour_num/8 END AS parentalLeave,
        CASE WHEN  b.is_hol_type = '0' AND b.hol_ove_type = '1' THEN b.hour_num/8 END AS delayedOvertime,
        CASE WHEN  b.is_hol_type = '0' AND b.hol_ove_type = '2' THEN b.hour_num/8 END AS overtimeOnRestDays,
        CASE WHEN  b.is_hol_type = '0' AND b.hol_ove_type = '3' THEN b.hour_num/8 END AS overtimeOnStatutoryHolidays
        FROM human_hd_attendance_gather a
                 LEFT JOIN human_hd_over_time b
                           ON a.emp_no = b.emp_no
        WHERE a.comp_id = #{compId} AND a.year = #{year} AND a.month = #{month}) AS t1
        GROUP BY
        uuid,emp_no,emp_name,
        post_name,late_num,lea_num,
        big_nig,sma_nig,big_sma_nig,
        bef_ent_duty,aft_ent_duty,sav_hou,
        tru_duty,due_att_duty,act_att_duty
    </select>
</mapper>
