<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jlkj.human.hd.mapper.AttendencebasisMapper">
    
    <resultMap type="Attendencebasis" id="AttendencebasisResult">
        <result property="id"    column="id"    />
        <result property="code"    column="code"    />
        <result property="name"    column="name"    />
        <result property="status"    column="status"    />
        <result property="compId"    column="comp_id"    />
        <result property="isShowno"    column="is_showno"    />
        <result property="isChecked"    column="is_checked"    />
        <result property="orderNum"    column="order_num"    />
        <result property="parentid"    column="parentid"    />
        <result property="parents"    column="parents"    />
        <result property="creator"    column="creator"    />
        <result property="creatorId"    column="creator_id"    />
        <result property="createDate"    column="create_date"    />
    </resultMap>

    <sql id="selectAttendencebasisVo">
        select id, code, name, status, comp_id, is_showno, is_checked, order_num, parentid, parents, creator, creator_id, create_date from human_hd_attendenceBasis
    </sql>

    <select id="selectAttendencebasisList" parameterType="Attendencebasis" resultMap="AttendencebasisResult">
        <include refid="selectAttendencebasisVo"/>
        <where>
        </where>
        order by order_num asc
    </select>

    <select id="queryRepetitivedata" resultType="Int" parameterType="Attendencebasis">
        select count(*) from human_hd_attendenceBasis
        <where>
            <if test="code!=null and code!=''"> and code =#{code}</if>
            <if test="id!=null and id!=''"> and id !=#{id}</if>
        </where>
    </select>


    <select id="selectAttendencebasisById" parameterType="Long" resultMap="AttendencebasisResult">
        <include refid="selectAttendencebasisVo"/>
        where id = #{id}
    </select>

    <select id="selectAttendencebasisByCode" parameterType="String" resultMap="AttendencebasisResult">
        <include refid="selectAttendencebasisVo"/>
        where code = #{code}
    </select>

    <select id="selectAttendencebasisByParentid" parameterType="Long" resultMap="AttendencebasisResult">
        <include refid="selectAttendencebasisVo"/>
        where parentid = #{parentid}
    </select>
        
    <insert id="insertAttendencebasis" parameterType="Attendencebasis" useGeneratedKeys="true" keyProperty="id">
        insert into human_hd_attendenceBasis
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="code != null and code != ''">code,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="status != null">status,</if>
            <if test="compId != null">comp_id,</if>
            <if test="isShowno != null">is_showno,</if>
            <if test="isChecked != null">is_checked,</if>
            <if test="orderNum != null">order_num,</if>
            <if test="parentid != null">parentid,</if>
            <if test="parents != null">parents,</if>
            <if test="creator != null">creator,</if>
            <if test="creatorId != null">creator_id,</if>
            <if test="createDate != null">create_date,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="code != null and code != ''">#{code},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="status != null">#{status},</if>
            <if test="compId != null">#{compId},</if>
            <if test="isShowno != null">#{isShowno},</if>
            <if test="isChecked != null">#{isChecked},</if>
            <if test="orderNum != null">#{orderNum},</if>
            <if test="parentid != null">#{parentid},</if>
            <if test="parents != null">#{parents},</if>
            <if test="creator != null">#{creator},</if>
            <if test="creatorId != null">#{creatorId},</if>
            <if test="createDate != null">#{createDate},</if>
         </trim>
    </insert>

    <update id="updateAttendencebasis" parameterType="Attendencebasis">
        update human_hd_attendenceBasis
        <trim prefix="SET" suffixOverrides=",">
            <if test="code != null and code != ''">code = #{code},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="status != null">status = #{status},</if>
            <if test="compId != null">comp_id = #{compId},</if>
            <if test="isShowno != null">is_showno = #{isShowno},</if>
            <if test="isChecked != null">is_checked = #{isChecked},</if>
            <if test="orderNum != null">order_num = #{orderNum},</if>
            <if test="parentid != null">parentid = #{parentid},</if>
            <if test="parents != null">parents = #{parents},</if>
            <if test="creator != null">creator = #{creator},</if>
            <if test="creatorId != null">creator_id = #{creatorId},</if>
            <if test="createDate != null">create_date = #{createDate},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAttendencebasisById" parameterType="Long">
        delete from human_hd_attendenceBasis where id = #{id}
    </delete>

    <delete id="deleteAttendencebasisByIds" parameterType="String">
        delete from human_hd_attendenceBasis where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>