<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jlkj.human.hd.mapper.PersonColockMapper">

    <resultMap type="PersonColock" id="PersonColockResult">
        <result property="id"    column="id"    />
        <result property="compId"    column="comp_id"    />
        <result property="type"    column="type"    />
        <result property="empId"    column="emp_id"    />
        <result property="checkcard"    column="checkcard"    />
        <result property="effectDate"    column="effect_date"    />
        <result property="status"    column="status"    />
        <result property="isEffect"    column="is_effect"    />
        <result property="creator"    column="creator"    />
        <result property="creatorId"    column="creator_id"    />
        <result property="createDate"    column="create_date"    />
        <result property="orgColockId"    column="org_colock_id"    />
    </resultMap>


    <sql id="selectPersonColockVo">
        select id, comp_id , emp_id, checkcard, effect_date, status, creator, creator_id, create_date,org_colock_id, if(effect_date>CURDATE(),'0','1') as is_effect from human_hd_person_colock
    </sql>

    <select id="selectPersonColockList" parameterType="PersonColock" resultMap="PersonColockResult">
        <include refid="selectPersonColockVo"/>
        <where>
            <if test="compId != null  and compId != ''"> and comp_id = #{compId}</if>
            <if test="empId != null  and empId != ''"> and emp_id = #{empId}</if>
            <if test="orgColockId != null  and orgColockId != ''"> and org_colock_id = #{orgColockId}</if>
            <if test="effectDate != null"> and effect_date = #{effectDate}</if>
            <if test="id != null  and id != ''"> and id != #{id}</if>
        </where>
        order by effect_date desc
    </select>

    <select id="queryNoEffectData" parameterType="PersonColock" resultMap="PersonColockResult">
        <include refid="selectPersonColockVo"/>
        <where>
            effect_date &gt; CURDATE() and emp_id = #{empId}
        </where>
    </select>


    <select id="queryLastEffectData" parameterType="PersonColock" resultMap="PersonColockResult">
        select id, comp_id, type , emp_id, checkcard, effect_date, status, creator, creator_id, create_date from human_hd_person_colock
        WHERE emp_id = #{empId} AND effect_date &lt;= CURDATE()
        ORDER BY effect_date desc
        LIMIT 1
    </select>

    <select id="selectPersonColockById" parameterType="String" resultMap="PersonColockResult">
        <include refid="selectPersonColockVo"/>
        where id = #{id}
    </select>

    <insert id="insertPersonColock" parameterType="PersonColock">
        insert into human_hd_person_colock
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="compId != null">comp_id,</if>
            <if test="empId != null">emp_id,</if>
            <if test="type != null">type,</if>
            <if test="checkcard != null">checkcard,</if>
            <if test="effectDate != null">effect_date,</if>
            <if test="status != null">status,</if>
            <if test="creator != null">creator,</if>
            <if test="creatorId != null">creator_id,</if>
            <if test="createDate != null">create_date,</if>
            <if test="orgColockId != null">org_colock_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="compId != null">#{compId},</if>
            <if test="empId != null">#{empId},</if>
            <if test="type != null">#{type},</if>
            <if test="checkcard != null">#{checkcard},</if>
            <if test="effectDate != null">#{effectDate},</if>
            <if test="status != null">#{status},</if>
            <if test="creator != null">#{creator},</if>
            <if test="creatorId != null">#{creatorId},</if>
            <if test="createDate != null">#{createDate},</if>
            <if test="orgColockId != null">#{orgColockId},</if>
        </trim>
    </insert>

    <update id="updatePersonColock" parameterType="PersonColock">
        update human_hd_person_colock
        <trim prefix="SET" suffixOverrides=",">
            <if test="compId != null">comp_id = #{compId},</if>
            <if test="empId != null">emp_id = #{empId},</if>
            <if test="checkcard != null">checkcard = #{checkcard},</if>
            <if test="effectDate != null">effect_date = #{effectDate},</if>
            <if test="status != null">status = #{status},</if>
            <if test="creator != null">creator = #{creator},</if>
            <if test="creatorId != null">creator_id = #{creatorId},</if>
            <if test="createDate != null">create_date = #{createDate},</if>
            <if test="orgColockId != null">org_colock_id = #{orgColockId},</if>
        </trim>
        where id = #{id}
    </update>



    <delete id="deletePersonColockById" parameterType="String">
        delete from human_hd_person_colock where id = #{id}
    </delete>


    <delete id="deletePersonColockByIds" parameterType="String">
        delete from human_hd_person_colock where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>