<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jlkj.human.hd.mapper.TripAccountRuleMapper">
    
    <resultMap type="TripAccountRule" id="TripAccountRuleResult">
        <result property="id"    column="id"    />
        <result property="compId"    column="comp_id"    />
        <result property="acctType"    column="acct_type"    />
        <result property="apprGroup"    column="appr_group"    />
        <result property="acctDesc"    column="acct_desc"    />
        <result property="acctClassify"    column="acct_classify"    />
        <result property="acctCoded"    column="acct_codeD"    />
        <result property="idCoded"    column="id_codeD"    />
        <result property="refNod"    column="ref_noD"    />
        <result property="dueDated"    column="due_dateD"    />
        <result property="acctCodec"    column="acct_codeC"    />
        <result property="idCodec"    column="id_codeC"    />
        <result property="refNoc"    column="ref_noC"    />
        <result property="dueDatec"    column="due_dateC"    />
        <result property="creator"    column="creator"    />
        <result property="creatorId"    column="creator_id"    />
        <result property="createDate"    column="create_date"    />
    </resultMap>

    <sql id="selectTripAccountRuleVo">
        select id, comp_id, acct_type, appr_group, acct_desc, acct_classify, acct_codeD, id_codeD, ref_noD, due_dateD, acct_codeC, id_codeC, ref_noC, due_dateC, creator, creator_id, create_date from human_hd_trip_account_rule
    </sql>

    <select id="selectTripAccountRuleList" parameterType="TripAccountRule" resultMap="TripAccountRuleResult">
        <include refid="selectTripAccountRuleVo"/>
        <where>  
            <if test="compId != null  and compId != ''"> and comp_id = #{compId}</if>
            <if test="acctType != null  and acctType != ''"> and acct_type = #{acctType}</if>
            <if test="apprGroup != null  and apprGroup != ''"> and appr_group = #{apprGroup}</if>
        </where>
    </select>
    
    <select id="selectTripAccountRuleById" parameterType="String" resultMap="TripAccountRuleResult">
        <include refid="selectTripAccountRuleVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertTripAccountRule" parameterType="TripAccountRule">
        insert into human_hd_trip_account_rule
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="compId != null">comp_id,</if>
            <if test="acctType != null">acct_type,</if>
            <if test="apprGroup != null">appr_group,</if>
            <if test="acctDesc != null">acct_desc,</if>
            <if test="acctClassify != null">acct_classify,</if>
            <if test="acctCoded != null">acct_codeD,</if>
            <if test="idCoded != null">id_codeD,</if>
            <if test="refNod != null">ref_noD,</if>
            <if test="dueDated != null">due_dateD,</if>
            <if test="acctCodec != null">acct_codeC,</if>
            <if test="idCodec != null">id_codeC,</if>
            <if test="refNoc != null">ref_noC,</if>
            <if test="dueDatec != null">due_dateC,</if>
            <if test="creator != null">creator,</if>
            <if test="creatorId != null">creator_id,</if>
            <if test="createDate != null">create_date,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="compId != null">#{compId},</if>
            <if test="acctType != null">#{acctType},</if>
            <if test="apprGroup != null">#{apprGroup},</if>
            <if test="acctDesc != null">#{acctDesc},</if>
            <if test="acctClassify != null">#{acctClassify},</if>
            <if test="acctCoded != null">#{acctCoded},</if>
            <if test="idCoded != null">#{idCoded},</if>
            <if test="refNod != null">#{refNod},</if>
            <if test="dueDated != null">#{dueDated},</if>
            <if test="acctCodec != null">#{acctCodec},</if>
            <if test="idCodec != null">#{idCodec},</if>
            <if test="refNoc != null">#{refNoc},</if>
            <if test="dueDatec != null">#{dueDatec},</if>
            <if test="creator != null">#{creator},</if>
            <if test="creatorId != null">#{creatorId},</if>
            <if test="createDate != null">#{createDate},</if>
         </trim>
    </insert>

    <update id="updateTripAccountRule" parameterType="TripAccountRule">
        update human_hd_trip_account_rule
        <trim prefix="SET" suffixOverrides=",">
            <if test="compId != null">comp_id = #{compId},</if>
            <if test="acctType != null">acct_type = #{acctType},</if>
            <if test="apprGroup != null">appr_group = #{apprGroup},</if>
            <if test="acctDesc != null">acct_desc = #{acctDesc},</if>
            <if test="acctClassify != null">acct_classify = #{acctClassify},</if>
            <if test="acctCoded != null">acct_codeD = #{acctCoded},</if>
            <if test="idCoded != null">id_codeD = #{idCoded},</if>
            <if test="refNod != null">ref_noD = #{refNod},</if>
            <if test="dueDated != null">due_dateD = #{dueDated},</if>
            <if test="acctCodec != null">acct_codeC = #{acctCodec},</if>
            <if test="idCodec != null">id_codeC = #{idCodec},</if>
            <if test="refNoc != null">ref_noC = #{refNoc},</if>
            <if test="dueDatec != null">due_dateC = #{dueDatec},</if>
            <if test="creator != null">creator = #{creator},</if>
            <if test="creatorId != null">creator_id = #{creatorId},</if>
            <if test="createDate != null">create_date = #{createDate},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTripAccountRuleById" parameterType="String">
        delete from human_hd_trip_account_rule where id = #{id}
    </delete>

    <delete id="deleteTripAccountRuleByIds" parameterType="String">
        delete from human_hd_trip_account_rule where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>