<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jlkj.material.mr.mapper.MaterialsCategoryMapper">

    <resultMap id="BaseResultMap" type="com.jlkj.material.mr.domain.MaterialsCategory">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="categoryName" column="category_name" jdbcType="VARCHAR"/>
            <result property="categoryCode" column="category_code" jdbcType="VARCHAR"/>
            <result property="deleteFlag" column="delete_flag" jdbcType="SMALLINT"/>
            <result property="createUserId" column="create_user_id" jdbcType="VARCHAR"/>
            <result property="createUserName" column="create_user_name" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="modifyUserId" column="modify_user_id" jdbcType="VARCHAR"/>
            <result property="modifyUserName" column="modify_user_name" jdbcType="VARCHAR"/>
            <result property="modifyTime" column="modify_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,category_name,category_code,
        delete_flag,create_user_id,create_user_name,
        create_time,modify_user_id,modify_user_name,
        modify_time
    </sql>

    <select id="getPageData" parameterType="com.jlkj.material.mr.dto.materialscategory.PageMaterialsCategoryDTO" resultType="java.util.Map">
        select
            a.id,
            a.category_name,
            a.category_code,
            a.delete_flag,
            a.mtrlType,
            a.create_user_id,
            a.create_user_name,
            case when ISNULL(a.create_time) then '' else DATE_FORMAT(a.create_time,'%Y-%m-%d %H:%i:%s') end as create_time,
            a.modify_user_id,
            a.modify_user_name,
            case when ISNULL(a.modify_time) then '' else DATE_FORMAT(a.modify_time,'%Y-%m-%d %H:%i:%s') end as modify_time
        from materials_mr_category a
        where a.delete_flag = 0
        order by ${condition.order} ${condition.orderby}
    </select>

    <select id="getListBoxData" resultType="java.util.Map">
        select
            a.id,
            a.category_name,
            a.mtrlType
        from materials_mr_category a
        where a.delete_flag = 0
        order by a.create_time
    </select>
</mapper>

